{% block headerContent %} {% import './macros/header.njk' as header %}
{{ header.config('/css/styles.css', 'blogItems') }}
{% endblock %}

<div class="container-fluid">
  {% include "./partials/nav.njk" %}
</div>
<div class="container-fluid bg-light-green">
  <div class="container">
    <div class="row">
      <div class="article-categories col-lg-8 col-lg-offset-4">
        <a class="active" href="/blog.html">Insurance Guides</a>
        <a href="/blog.html">Travel</a>
        <a href="/blog.html">Videos</a>
      </div>
    </div>
  </div>

  <section
    class="blog-header article-header row"
    style="background: url(/images/mountain-road.jpg) no-repeat center; background-size:cover;"
  >
    <div class="container">
      <div class="inner row">
        <h1 class="has-sub-title col-lg-8 col-lg-offset-4">
          Guide to Driving in Canada
        </h1>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <section class="article-main">
    <div class="inner row">
      <div class="col-lg-4">
        <div class="article-info">
          <div class="read-time">
            <img src="/images/book-read.png" alt="" /> <span>14 min read</span>
          </div>
          <div class="article-tags">
            <img src="/images/tag.png" alt="" /><span
              >Driving guide, Canada, Road rules</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="article-content">
          <p>
            <strong>
              As the world’s second largest country, Canada is a road-tripper’s
              dream. Hiring a car or camper van offers one of the best ways to
              see this fantastic country, letting you experience its many
              cultures, cosmopolitan cities and dramatic natural scenery. The
              country’s sheer size means must plan your route and prepare for
              the great distances you’ll cover. A good knowledge of the rules
              for driving in Canada will help too.
            </strong>
          </p>
          <h3>Roads in Canada</h3>
          <p>
            Canada’s roads stretch over one million kilometres, including the
            Trans-Canada Highway, the fourth longest road in the world. Roads in
            Canada are maintained to a high standard by provincial governments
            and there are few toll roads (most of which are found on a handful
            of bridges and near the US border).
          </p>
          <p>
            Given the size and geography of the country, the road network is
            much denser in the south of the country and around major cities like
            Toronto. Outside of major cities, you’ll often be the only vehicle
            on the road for miles.
          </p>
          <p>Here are the main types of roads in Canada:</p>
          <h3>Local roads</h3>
          <p>
            Canada’s local roads are intended to provide access to private
            property and are usually found in suburban and rural areas. They
            have low traffic speed and must have at least one sidewalk.
          </p>
          <h3>Collector roads</h3>
          <p>
            Collector roads are designed for connecting traffic to larger
            arteries. They will be signalled at intersections with arterial
            roads and will have sidewalks on both sides of the road.
          </p>
          <h3>Minor arterial roads</h3>
          <p>
            This kind of road is principally designed for facilitating traffic
            movement, although will provide access to some types of property.
            They do not have ‘stop’ signs – instead, intersections are
            controlled by traffic lights. They also have sidewalks on both sides
            of the thoroughfare.
          </p>
          <h3>Major arterial roads</h3>
          <p>
            These roads are primarily designed for traffic movement and are
            subject to access controls (meaning you’ll have to wait at light or
            at a line before you can enter the flow). The speed limit is
            normally 50-60km/h and there are usually sidewalks on both sides of
            the road.
          </p>
          <h3>Expressways</h3>
          <p>
            Expressways are the equivalent of British motorways. The speed limit
            is typically 80-100 km/h. There is no property access and cyclists
            and pedestrians are prohibited from entering them.
          </p>
          <h2>How to drive in Canada</h2>
          <p>
            Canada is relatively easy to navigate by car. Canadians are well
            known for their politeness and this extends to their driving habits
            too. They have a strong focus on safety and defensive driving,
            meaning you’re unlikely to encounter much erratic behaviour.
          </p>
          <p>
            You’ll be likely to end up hiring an automatic transmission car in
            Canada rather than the kind of manual vehicle you’d be used to in
            Europe (that said, it’s possible to find manual cars, and you might
            prefer one if driving in winter). However, most drivers get used to
            automatic driving without too much trouble and it can make life
            easier when you’re travelling long distances.
          </p>
          <p>
            If you’re planning on road-tripping across Canada, do not
            underestimate the distances involved. Make sure you’ve planned a
            sensible route, have enough fuel, food and water. If you’re driving
            in winter, you’ll want to take even more precautions in case of a
            breakdown (more on winter driving below). It’s also important to
            remember that wild animals like moose and elks wandering onto the
            road is a real issue in Canada, especially at night - so drive
            cautiously.
          </p>
          <h2>Canada driving rules</h2>
          <p>
            Canada’s driving rules are similar to what you’re used to in the UK.
            That said, Canadian cities follow a grid system – like much of
            Northern American – and roundabouts are much less common than they
            are in the UK. This means you’ll have to get accustomed to a more
            ‘stop-start’ kind of driving.
          </p>
          <h3>What side of the road does Canada drive on?</h3>
          <p>
            Like most of the world, Canadians drive on the right-hand side of
            the road. If this is your first time driving on the right, spend
            some time getting used to it on smaller side roads.
          </p>
          <h3>Who has right of way?</h3>
          <p>
            There are some differences in how the right of way works in Canada.
            Firstly, lights at intersections: when you’re at a red light at an
            intersection, you are allowed to turn right – but must proceed with
            caution and watch out for pedestrians (this is true for everywhere
            except Montreal). There are also two types of green light in Canada:
            a steady green light means the same as in the UK, whereas a flashing
            green light means you have the right of way to turn left.
          </p>
          <p>
            If you come to a four-way crossroad or an intersection without
            traffic lights – which is common in rural areas – it is the driver
            to the right who has the right of way.
          </p>
          <h3>What is the speed limit in Canada?</h3>
          <p>
            Speed limits in Canada are measured in kilometres per hour, rather
            than miles per hour. Speed limits signs are posted on all roads
            (although not always as frequently or clearly as in the UK).
          </p>
          <ul class="regulation_list">
            <li>
              <p>
                In urban areas away from major arteries, the speed limit will
                normally be 50km/h unless otherwise stated
              </p>
            </li>
            <li>
              <p>
                For rural roads outside of towns, the speed limit will be 60-80
                km/h
              </p>
            </li>
            <li>
              <p>
                The maximum speed limit on highways will be 80-100 km/h (and the
                minimum limit is 60 km/h)
              </p>
            </li>
          </ul>
          <h3>Driving in adverse conditions in Canada</h3>
          <p>
            Canada is famous for its cold, snowy winters – it can drop as low as
            -40°C in some parts of the country. So, if you plan on driving in
            Canada in winter, it’s essential to take extra precautions:
          </p>
          <ul class="regulation_list">
            <li>
              <p>
                Ensure your hire car has chains or winter tyres (in some
                provinces this is a legal requirement)
              </p>
            </li>
            <li>
              <p>
                Bring paper maps in case your GPS fails, snow scrapers and a
                torch with spare batteries
              </p>
            </li>
            <li>
              <p>Dress appropriately – warm clothes are essential</p>
            </li>
            <li>
              <p>
                Bring a sleeping bag just in case you do have a breakdown –
                having a warm sleeping bag could be a lifesaver
              </p>
            </li>
            <li>
              <p>
                Bring a heater – many Canadians carry heaters in their cars in
                winter to make driving more bearable
              </p>
            </li>
            <li>
              <p>Plan your trip and tell people where you are going</p>
            </li>
            <li>
              <p>
                Drive very defensively, watching out for black ice and other
                hazards and avoid driving at night
              </p>
            </li>
          </ul>
          <h3>‘Safety first’ is the rule</h3>
          <p>
            Canadian driving law is heavily focused on safety, so bear in mind
            that:
          </p>
          <ul class="regulation_list">
            <li>
              <p>
                There are stiff penalties for driving under the influence. The
                limit is 80 mg of alcohol per 100 ml of blood – which is the
                same as in the UK
              </p>
            </li>
            <li>
              <p>Safety belts must be worn at all times</p>
            </li>
            <li>
              <p>
                You cannot use a mobile phone while driving, but you can use a
                hands-free system
              </p>
            </li>
          </ul>
          <h2>Driving hazards in Canada</h2>
          <p>
            As noted above, winter is the most difficult time for driving in
            Canada and you should take precautions for snow, ice and glare.
          </p>
          <p>
            That said, most tourists will likely to visit Canada during the
            warmer months. While summer is much safer for driving, you should
            still take precautions:
          </p>
          <ul class="regulation_list">
            <li>
              <p><strong>Prepare for the heat</strong></p>
              <p>
                If you’ll be driving very long distances, always stock up on
                bottled water since Canada can get very hot in the height of
                summer.
              </p>
            </li>
            <li>
              <p><strong>Food and fuel</strong></p>
              <p>
                Make sure you have snacks and spare fuel for long legs of your
                journey.
              </p>
            </li>
            <li>
              <p><strong>Severe weather</strong></p>
              <p>
                Thunderstorms can build up and torrential rain may be a hazard
                for visibility and control.
              </p>
            </li>
            <li>
              <p><strong>Falling asleep at the wheel </strong></p>
              <p>
                Falling asleep at the wheel is a risk everywhere, but this risk
                is heightened when driving on long, empty and straight roads
                common in Canada.
              </p>
            </li>
            <li>
              <p><strong>Wild animals</strong></p>
              <p>
                Watch out for wild animals like moose, elk or even bears
                crossing the road.
              </p>
            </li>
          </ul>
          <p>
            If you do get into any trouble while driving in Canada, check if
            anyone is injured. If so, call the emergency services on 911.
            Otherwise, you should immediately get in touch with your car rental
            company, who will advise you on what to do next.
          </p>
          <h2>Canada driving tips</h2>
          <p>
            While driving in Canada is not so different to driving in the UK,
            it’s worth preparing for some of the country’s other idiosyncrasies.
            These include:
          </p>
          <ul class="regulation_list">
            <li>
              <p><strong>Brushing up on your French</strong></p>
              <p>In Quebec, many road signs are only be written in French.</p>
            </li>
            <li>
              <p><strong>School buses</strong></p>
              <p>
                Whenever a yellow school bus stops in Canada and flashes its red
                lights, all traffic must stop – in either direction.
              </p>
            </li>
            <li>
              <p><strong>Child seats</strong></p>
              <p>
                These must be used for any passenger weighing less than 20kg.
              </p>
            </li>
            <li>
              <p><strong>Headlights</strong></p>
              <p>
                In Novia Scotia you must always have your headlights turned on,
                even during the day.
              </p>
            </li>
          </ul>
          <h2>More information about driving in Canada</h2>
          <p>
            Canada offers some of the most dramatic and jaw-dropping driving
            opportunities in the world. By making sure you take sensible
            precautions and are familiar with the slight differences between
            Canadian and UK driving laws, you’ll be able to enjoy its wonders
            without a hitch.
          </p>
          <p>For more information, visit:</p>
          <ul class="regulation_list">
            <li>
              <a
                href="http://www.tc.gc.ca/en/services/road.html"
                title="Transport Canada website"
                target="_blank"
                >Transport Canada</a
              >: The government’s official site for driving law and news
            </li>
            <li>
              <a
                href="https://www.cbsa-asfc.gc.ca/menu-eng.html"
                title="Canada Border Services Agency website"
                target="_blank"
                >Canada Border Services Agency</a
              >: Useful information on waiting times and requirements if you
              plan on crossing into the US
            </li>
            <li>
              <a
                href="https://weather.gc.ca/canada_e.html"
                title="Canada weather website"
                target="_blank"
                >The Canada weather website</a
              >: Includes alerts and updates on conditions
            </li>
          </ul>
          <h2>Don’t forget your excess insurance</h2>
          <p>
            Collision Damage Waiver (CDW) and Supplementary Liability Insurance
            (SLI) can cost as much as $30 a day if you buy your cover from your
            rental company. Save money and protect yourself with car rental
            excess waiver before you flight out by purchasing an annual&nbsp;<a
              href="/usa-canada-car-hire-excess-insurance"
              title="Worldwide Plus Car Hire Excess Insurance"
              >Worldwide Plus Car Hire Excess Insurance</a
            >&nbsp;policy from insurance4carhire.com.
          </p>
          <p><em>This is a marketing article from insurance4carhire.</em></p>
        </div>
      </div>
    </div>

    <div class="share-buttons">
      <div class="sharing-buttons" id="sharelinks">
        <a
          href="https://www.facebook.com/sharer/sharer.php?u=SBLINK"
          class="fb"
          target="_blank"
          >Share on Facebook</a
        >
        <a
          href="https://twitter.com/home?status=SBDESC%20SBLINK"
          class="tw"
          target="_blank"
          >Share on Twitter</a
        >
        <a
          href="https://plus.google.com/share?url=SBLINK"
          class="gp"
          target="_blank"
          >Share on Google+</a
        >
        <a
          href="https://pinterest.com/pin/create/button/?url=SBLINK&amp;media=SBIMG&amp;description=SBDESC"
          class="pin"
          target="_blank"
          >Pin on Pinterest</a
        >
        <a
          href="https://www.linkedin.com/shareArticle?mini=true&amp;url=SBLINK&amp;title=SBTITLE&amp;summary=&amp;source="
          class="li"
          target="_blank"
          >Share on LinkedIn</a
        >
      </div>
    </div>
  </section>

  <section class="trust row">
    {% include "./partials/trust-box.njk" %}

    <button class="back-to-top js-back-to-top">
      <img
        src="./images/return-to-top-arrow.png"
        alt="Return to top arrow"
        width="42"
        height="43"
      />
    </button>
  </section>
  <!--//.reviews-->
</div>
<div class="container-fluid bg-dark-cyan">
  <div class="container">
    <footer class="row">
      {% include './partials/links.njk' %}
    </footer>

    {% include './partials/help-icon.njk' %}
  </div>
</div>
<!--//.container-->

{% block corejavascript %} {% include './partials/core-javascript.njk' %}
{%endblock %} {% block footer %} {% include './partials/footer.njk' %} {%
endblock %}
