{% block headerContent %} {% import './macros/header.njk' as header %}
{{ header.config('/css/styles.css', 'blog') }}
{% endblock %}

<div class="container-fluid">
  {% include "./partials/I4CHNavigation/navigation.njk" %}
</div>
<div class="container-fluid">
  <div class="container">
    <section class="blog-header row">
      <div class="inner">
        <h1 class="has-sub-title">Insurance 4 Car Hire Excess Blog</h1>
        <p class="sub-title">
          We've put together some handy guides to help you stay safe on the
          roads, get the most out of your insurance and most importantly enjoy
          your time travelling.
        </p>
      </div>
      <div class="social-icons--mobile">
        <a href=""><i class="facebook-black icon">Facebook</i></a>
        <a href=""><i class="twitter-black icon">Twitter</i></a>
        <a href=""><i class="instagram-black icon">Instagram</i></a>
      </div>
    </section>
  </div>
</div>

<div class="container grid">
  <section class="search-options">
    <div class="inner">
      <div class="form-group">
        <label for="search" class="search-label">
          <input id="search" type="text" placeholder="Type keyword here" />
        </label>
        <div class="social-icons--desktop">
          <a href=""><i class="facebook-black icon">Facebook</i></a>
          <a href=""><i class="twitter-black icon">Twitter</i></a>
          <a href=""><i class="instagram-black icon">Instagram</i></a>
        </div>
      </div>

      <div class="search-options-menu">
        <a class="active" href="">Insurance</a>
        <a href="">Driving</a>
        <a href="">Car Hire</a>
      </div>
    </div>
  </section>

  <section class="blog-hero">
    <div class="inner">
      <img src="/images/blog-hero.png" alt="" />
    </div>
    <div class="inner">
      <h3>
        What is a Collision Damage Waiver (CDW) & Supplemental Liability
        Insurance (SLI) Rental Cars?
      </h3>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta labore
        animi impedit quae nostrum eum? Tempora, nihil. Suscipit, blanditiis
        maiores facere ex perferendis perspiciatis sapiente aperiam? Voluptatem
        temporibus eos blanditiis!
      </p>

      <p><a href="">View Article >></a></p>
    </div>
  </section>

  <section class="top-articles bg-grey row">
    <h3>Top Articles</h3>
    <div class="inner">
      {% include "./partials/top-articles.njk" %}
    </div>
  </section>

  <section class="all-articles row">
    <div class="inner">
      <h3>All Articles</h3>
      {% include "./partials/text-articles.njk" %}
    </div>
    <a class="btn btn-default btn-articles" href="other.html">
      <span>More Articles</span>
    </a>
  </section>

  <section class="trust row">
    {% include "./partials/I4CHComponents/trust-box.njk" %}

    <button class="back-to-top js-back-to-top">
      <img
        src="./images/return-to-top-arrow.png"
        alt="Return to top arrow"
        width="42"
        height="43"
      />
    </button>
  </section>
  <!--//.reviews-->
  <footer class="row">
    {% include './partials/I4CHNavigation/footer-links.njk' %}
  </footer>

  {% include './partials/I4CHNavigation/help-icon.njk' %}
</div>
<!--//.container-->

{% block corejavascript %} {% include './partials/core-javascript.njk' %}
{%endblock %} {% block footer %} {% include
'./partials/I4CHNavigation/footer.njk' %} {% endblock %}
