{% block header %} {% import './macros/header.njk' as header %}
{{ header.styles('/css/styles.css') }}
{% endblock %}

<div class="container-fluid">
  {% include "./partials/nav.njk" %}
</div>
<div class="container grid">
  <h1>Compare Your Product Options</h1>
  <p>We provide product options based on your selection</p>

  <section class="cover-options">
    <h2>Cover options</h2>
    {% include "./partials/cover-options.njk" %}
  </section>
  <!--//.hero-->

  <section class="policy-summary">
    {% include "./partials/policy-summary.njk" %}
  </section>

  <section class="trust">
    {% include "./partials/trust-box.njk" %}

    <button class="back-to-top js-back-to-top">
      <img
        src="./images/return-to-top-arrow.png"
        alt="Return to top arrow"
        width="42"
        height="43"
      />
    </button>
  </section>
  <!--//.reviews-->
  <footer>
    {% include './partials/links.njk' %}
  </footer>

  {% include './partials/help-icon.njk' %}
</div>
<!--//.container-->

{% block corejavascript %} {% include './partials/core-javascript.njk' %}
{%endblock %} {% block footer %} {% include './partials/footer.njk' %} {%
endblock %}
