{% block headerContent %} {% import './macros/header.njk' as header %}
{{ header.config('/css/styles.css', 'productOptions') }}
{% endblock %}

<div class="container-fluid">
  {% include "./partials/nav.njk" %}
</div>
<div class="container-fluid">
  <div class="container">
    <section class="product-hero row">
      <div class="inner">
        <h1 class="has-sub-title">Compare Your Product Options</h1>
        <p class="sub-title">
          We provide product options based on your selection
        </p>
      </div>
    </section>
  </div>
</div>

<div class="container grid">
  <section class="cover-options">
    <h2>Cover options</h2>
    <div class="inner">
      {% include "./partials/cover-options.njk" %}
    </div>
  </section>

  <section class="trust row">
    {% include "./partials/trust-box.njk" %}

    <button class="back-to-top js-back-to-top">
      <img
        src="./images/return-to-top-arrow.png"
        alt="Return to top arrow"
        width="42"
        height="43"
      />
    </button>
  </section>
  <!--//.reviews-->
  <footer class="row">
    {% include './partials/links.njk' %}
  </footer>

  {% include './partials/help-icon.njk' %}
</div>
<!--//.container-->

{% block corejavascript %} {% include './partials/core-javascript.njk' %}
{%endblock %} {% block footer %} {% include './partials/footer.njk' %} {%
endblock %}
