{% block headerContent %}
{% import './macros/header.njk' as header %}
{{ header.config('/css/styles.css', 'productOptions') }}
{% endblock %}

<div class="container-fluid">
  {% include "./partials/I4CHNavigation/navigation.njk" %}
</div>
<div class="container-fluid">
  <div class="container">
    <section class="product-hero row">
      <div class="inner">
        <h1 class="has-sub-title">Compare Your Product Options</h1>
        <p class="sub-title">
          We provide product options based on your selection
        </p>
      </div>
    </section>
  </div>
</div>

<div class="container grid">
  <section class="cover-options">
    <h2>Cover options</h2>
    <div class="inner">
      {# {% include "./partials/cover-options.njk" %} #}

      <div class="cover-options-container">
        <span style="display:none;" class="initial-single-trip-price"
          >&pound;4.49</span
        >

        <div
          class="card card-cover-option active"
          data="cover-option-1"
          data-policy="policy-summary-1"
        >
          <div class="inner">
            <div class="card-header">
              <h4 class="card-title">Single Trip Car Hire Excess Insurance</h4>
              <p class="card-price"><span class="amount">£11.99</span></p>
            </div>
            <div class="card-body">
              <div class="card-text">
                <div class="form-group">
                  <p>How many days do you need cover for?</p>
                  <input
                    type="number"
                    value="1"
                    min="1"
                    class="form-control product-options-days-cover"
                    id="daysCover"
                    name="daysCover"
                  />
                </div>
                <p class="warning-text">
                  You may find that an annual product is better value, see below
                </p>
                <p class="warning-text-60">
                  Sorry, we cannot cover rentals over 60 consecutive days
                </p>
                <div class="policy-info">
                  <p class="card-text">
                    Single Trip Worldwide car hire excess cover is suitable for
                    short car rental periods. If you’re hiring multiple cars
                    this year, one of our annual policies may be better value
                    for you!
                  </p>
                  <p>
                    <small
                      >Note that this policy does not include Collision Damage
                      Waiver (CDW). CDW is usually included as standard with car
                      rentals, but often isn't included for car hires in The
                      Americas. If you do need CDW cover or SLI our Worldwide
                      Plus CDW &amp; SLI policy is for you.&nbsp;</small
                    >
                  </p>
                </div>
              </div>
            </div>
            <!--//.card-body-->
          </div>
          <!--//.inner-->

          <div class="card-icons">
            <div class="accordion-bar">
              <div class="accordion">
                <button class="more-information" data-ps="policy-summary-1">
                  More information
                </button>
              </div>
              <a class="btn btn-cta btn-mobile">Buy Now</a>
            </div>
          </div>
        </div>
        <!--.card-->

        <div
          class="card card-cover-option"
          data="cover-option-2"
          data-policy="policy-summary-2"
        >
          <div class="inner">
            <div class="card-header">
              <h4 class="card-title">Annual Europe</h4>
              <p class="card-price"><span class="amount">£42.99</span></p>
            </div>
            <!--//.card-header -->
            <div class="card-body">
              <div class="policy-info">
                <div class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </div>
              </div>
            </div>
            <!--//.card-body-->
          </div>
          <!--//.inner-->

          <div class="card-icons">
            <div class="accordion-bar">
              <div class="accordion">
                <button class="more-information" data-ps="policy-summary-2">
                  More information
                </button>
              </div>
              <a class="btn btn-cta btn-mobile">Buy Now</a>
            </div>
          </div>
          <!--//.card-icons-->
        </div>
        <!--.card-->

        <div
          class="card card-cover-option"
          data="cover-option-3"
          data-policy="policy-summary-3"
        >
          <div class="inner">
            <div class="card-header">
              <h4 class="card-title">Annual Worldwide</h4>
              <p class="card-price"><span class="amount">£54.99</span></p>
            </div>
            <!--//.card-header -->
            <div class="card-body">
              <div class="policy-info">
                <div class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </div>
              </div>
            </div>
            <!--//.card-body-->
          </div>
          <!--//.inner-->
          <div class="card-icons">
            <div class="accordion-bar">
              <div class="accordion">
                <button class="more-information" data-ps="policy-summary-3">
                  More information
                </button>
              </div>
              <a class="btn btn-cta btn-mobile">Buy Now</a>
            </div>
          </div>
          <!--//.card-icons-->
        </div>
        <!--.card-->

        <div
          class="card card-cover-option"
          data="cover-option-4"
          data-policy="policy-summary-4"
        >
          <div class="inner">
            <div class="card-header">
              <h4 class="card-title">Annual Worldwide plus CDW & SLI</h4>
              <p class="card-price"><span class="amount">£109.99</span></p>
            </div>
            <!--//.card-price-container -->
            <div class="card-body">
              <div class="policy-info">
                <div class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </div>
              </div>
            </div>
            <!--//.card-body-->
          </div>
          <!--//.inner-->

          <div class="card-icons">
            <div class="accordion-bar">
              <div class="accordion">
                <button class="more-information" data-ps="policy-summary-4">
                  More information
                </button>
              </div>
              <a class="btn btn-cta btn-mobile">Buy Now</a>
            </div>
          </div>
          <!--//.card-icons-->
        </div>
        <!--.card-->
      </div>
      <!--//.cover-options-container-->

      <div class="info-box-container policy-summary">
        <div class="info-box policy-summary-info policy-summary-1">
          <h3>Policy Summary</h3>
          <h4>Single-Trip Worldwide</h4>
          <dl class="itinerary">
            <dt>Duration</dt>
            <dd>Single Trip</dd>
            <dt>Territory</dt>
            <dd>Europe</dd>
            <dt>Start date</dt>
            <dd>25/02/2019</dd>
            <dt>End date</dt>
            <dd>24/02/2020</dd>
            <dt>Drivers</dt>
            <dd>1</dd>
          </dl>
          <div class="accordion">
            <button class="accordion-btn h4">Section 1</button>
            <div class="accordion-panel">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus, nihil. Tenetur at sunt porro vero facere excepturi
                omnis.
              </p>
            </div>

            <button class="accordion-btn h4">Section 2</button>
            <div class="accordion-panel">
              <ul class="tick-list">
                <li>Excess on damageand theft up t0 £6,500 per year</li>
                <li>
                  Damage caused by using the wrong type of fuel: up to £500 per
                  claim and £2,00 per year
                </li>
                <li>Content</li>
                <li>Insurance</li>
                <li>Towergate</li>
              </ul>
              <ul class="cross-list">
                <li>Excess on damageand theft up t0 £6,500 per year</li>
                <li>
                  Damage caused by using the wrong type of fuel: up to £500 per
                  claim and £2,00 per year
                </li>
                <li>Content</li>
                <li>Insurance</li>
                <li>Towergate</li>
              </ul>
            </div>
          </div>

          <button
            class="btn btn-cta btn--block"
            type="submit"
            data-href="other.html"
          >
            Buy now
          </button>
        </div>
        <!--//.info-box-->

        <div class="info-box policy-summary-info policy-summary-2">
          <h3>Policy Summary</h3>
          <h4>Annual Europe</h4>
          <dl class="itinerary">
            <dt>Duration</dt>
            <dd>Annual</dd>
            <dt>Territory</dt>
            <dd>Worldwide</dd>
            <dt>Start date</dt>
            <dd>25/02/2019</dd>
            <dt>End date</dt>
            <dd>24/02/2020</dd>
            <dt>Drivers</dt>
            <dd>1</dd>
          </dl>
          <div class="accordion">
            <button class="accordion-btn h4">Section 1</button>
            <div class="accordion-panel">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus, nihil. Tenetur at sunt porro vero facere excepturi
                omnis.
              </p>
            </div>

            <button class="accordion-btn h4">Section 2</button>
            <div class="accordion-panel">
              <ul class="tick-list">
                <li>Excess on damageand theft up t0 £6,500 per year</li>
                <li>
                  Damage caused by using the wrong type of fuel: up to £500 per
                  claim and £2,00 per year
                </li>
                <li>Content</li>
                <li>Insurance</li>
                <li>Towergate</li>
              </ul>
              <ul class="cross-list">
                <li>Excess on damageand theft up t0 £6,500 per year</li>
                <li>
                  Damage caused by using the wrong type of fuel: up to £500 per
                  claim and £2,00 per year
                </li>
                <li>Content</li>
                <li>Insurance</li>
                <li>Towergate</li>
              </ul>
            </div>
          </div>

          <button
            class="btn btn-cta btn--block"
            type="submit"
            data-href="other.html"
          >
            Buy now
          </button>
        </div>
        <!--//.info-box-->

        <div class="info-box policy-summary-info policy-summary-3">
          <h3>Policy Summary</h3>
          <h4>Annual Worldwide</h4>
          <dl class="itinerary">
            <dt>Duration</dt>
            <dd>Single Trip</dd>
            <dt>Territory</dt>
            <dd>Europe</dd>
            <dt>Drivers</dt>
            <dd>1</dd>
          </dl>
          <div class="accordion">
            <button class="accordion-btn h4">Section 1</button>
            <div class="accordion-panel">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus, nihil. Tenetur at sunt porro vero facere excepturi
                omnis.
              </p>
            </div>

            <button class="accordion-btn h4">Section 2</button>
            <div class="accordion-panel">
              <ul class="tick-list">
                <li>Excess on damageand theft up t0 £6,500 per year</li>
                <li>
                  Damage caused by using the wrong type of fuel: up to £500 per
                  claim and £2,00 per year
                </li>
                <li>Content</li>
                <li>Insurance</li>
                <li>Towergate</li>
              </ul>
              <ul class="cross-list">
                <li>Excess on damageand theft up t0 £6,500 per year</li>
                <li>
                  Damage caused by using the wrong type of fuel: up to £500 per
                  claim and £2,00 per year
                </li>
                <li>Content</li>
                <li>Insurance</li>
                <li>Towergate</li>
              </ul>
            </div>
          </div>

          <button
            class="btn btn-cta btn--block"
            type="submit"
            data-href="other.html"
          >
            Buy now
          </button>
        </div>
        <!--//.info-box-->

        <div class="info-box policy-summary-info policy-summary-4">
          <h3>Policy Summary</h3>
          <h4>Annual Worldwide plus CDW & SLI</h4>
          <dl class="itinerary">
            <dt>Duration</dt>
            <dd>Single Trip</dd>
            <dt>Territory</dt>
            <dd>Europe</dd>
            <dt>Start date</dt>
            <dd>25/02/2019</dd>
            <dt>End date</dt>
            <dd>24/02/2020</dd>
            <dt>Drivers</dt>
            <dd>1</dd>
          </dl>
          <div class="accordion">
            <button class="accordion-btn h4">Section 1</button>
            <div class="accordion-panel">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus, nihil. Tenetur at sunt porro vero facere excepturi
                omnis.
              </p>
            </div>

            <button class="accordion-btn h4">Section 2</button>
            <div class="accordion-panel">
              <ul class="tick-list">
                <li>Excess on damageand theft up t0 £6,500 per year</li>
                <li>
                  Damage caused by using the wrong type of fuel: up to £500 per
                  claim and £2,00 per year
                </li>
                <li>Content</li>
                <li>Insurance</li>
                <li>Towergate</li>
              </ul>
              <ul class="cross-list">
                <li>Excess on damageand theft up t0 £6,500 per year</li>
                <li>
                  Damage caused by using the wrong type of fuel: up to £500 per
                  claim and £2,00 per year
                </li>
                <li>Content</li>
                <li>Insurance</li>
                <li>Towergate</li>
              </ul>
            </div>
          </div>

          <button
            class="btn btn-cta btn--block"
            type="submit"
            data-href="other.html"
          >
            Buy now
          </button>
        </div>
        <!--//.info-box-->
      </div>
    </div>
  </section>
  <!--//.cover-options-->

  <section class="trust">
    <div class="trust-content">
      {% include "./partials/I4CHComponents/trust-box.njk" %}
    </div>

    <button class="back-to-top js-back-to-top">
      <img
        src="./images/return-to-top-arrow.png"
        alt="Return to top arrow"
        width="42"
        height="43"
      />
    </button>
  </section>
  <!--//.reviews-->
</div>

<footer>
  {% include './partials/I4CHNavigation/footer-links.njk' %}
</footer>

{# {% include './partials/I4CHNavigation/help-icon.njk' %} #}
<!--//.container-->

{% block corejavascript %}
{% include './partials/core-javascript.njk' %}
{%endblock %}

{% block footer %}
{% include './partials/I4CHNavigation/footer.njk' %}
{% endblock %}
