<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>Insurance 4 Car Hire Style Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,900|Oswald:400,700"
      rel="stylesheet"
    />

    <!-- Style Guide Boilerplate Styles -->
    <link rel="stylesheet" href="style-guide/css/sg-style.css" />
    <!--[if lt IE 9
      ]><link rel="stylesheet" href="css/sg-style-old-ie.css"
    /><![endif]-->

    <!-- https://github.com/sindresorhus/github-markdown-css -->
    <link rel="stylesheet" href="style-guide/css/github-markdown.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="style-guide/css/bootstrap.min.css" />
    <!-- prism Syntax Highlighting Styles -->
    <link rel="stylesheet" href="style-guide/vendor/prism/prism.css" />

    <!-- Replace below stylesheet with your own stylesheet -->
    <link rel="stylesheet" href="css/styles.css" />

  </head>
  <body>
    <a href="#main" class="sg-visually-hidden sg-visually-hidden-focusable"
      >Skip to main content</a
    >

    <div id="top" class="sg-header" role="banner">
      <div class="sg-container">
        <h1 class="sg-logo">
          <span class="sg-logo-initials">SG</span>
          <span class="sg-logo-full">STYLE GUIDE</span>
          <em>Insurance 4 Car Hire</em>
        </h1>
        <button type="button" class="sg-nav-toggle">Menu</button>
      </div>
    </div>
    <!--/.sg-header-->

    <div class="sg-wrapper sg-clearfix">
      <div id="nav" class="sg-sidebar" role="navigation">
        <h2 class="sg-h2 sg-subnav-title">About</h2>
        <ul class="sg-nav-group">
          <li>
            <a href="#sg-about">Getting Started</a>
          </li>
          <li>
            <a href="#sg-colors">Colors</a>
          </li>
          <li>
            <a href="#sg-fontStacks">Fonts</a>
          </li>
        </ul>

        <ul class="sg-nav-group">
          {% import "macros/elements.njk" as elements %} {# listFilesInFolder #}
          {% block navigation %} {% for file in files %} {%if file.type == 'd'
          %}
          <li class="sg-subnav-parent">
            {{ elements.renderTitleFromPath(file.name, 'h2') }}
          </li>
          {% else %}
          <li>
            {{ elements.renderTitleFromPath(file.name, '') }}
          </li>
          {% endif %} {% endfor %} {% endblock %}
        </ul>
      </div>
      <!--/.sg-sidebar-->

      <div id="main" class="sg-main" role="main">
        <div class="sg-container">
          <div class="sg-info">
            <div class="sg-about sg-section">
              <h2 id="sg-about" class="sg-h2">Getting Started</h2>
              <p>
                A living style guide is a great tool to promote visual
                consistency, unify UX designers and front-end developers, as
                well as speed up development times. Add some documentation here
                on how to get started with your new style guide and start
                customizing this boilerplate to your liking.
              </p>
              <p>
                If you are looking for resources on style guides, check out
                <a href="http://styleguides.io">styleguides.io</a>. There are a
                ton of great articles, books, podcasts, talks, and other style
                guide tools!
              </p>
            </div>
            <!--/.sg-about-->

            <!-- Manually add your UI colors here. -->
            <div class="sg-colors sg-section">
              <h2 id="sg-colors" class="sg-h2">Colors</h2>
              <div class="sg-color-grid">
                <div class="sg-color">
                  <div
                    class="sg-color-swatch"
                    style="background-color: #023742;"
                  ></div>
                  <div class="sg-color-name">Very dark cyan</div>
                  <div class="sg-color-value">#023742</div>
                </div>
                <div class="sg-color">
                  <div
                    class="sg-color-swatch"
                    style="background-color: #01dbab;"
                  ></div>
                  <div class="sg-color-name">Vivid cyan</div>
                  <div class="sg-color-value">#01dbab</div>
                </div>
                <div class="sg-color">
                  <div
                    class="sg-color-swatch"
                    style="background-color: #01866b;"
                  ></div>
                  <div class="sg-color-name">Dark Cyan</div>
                  <div class="sg-color-value">#01866b</div>
                </div>
                <div class="sg-color">
                  <div
                    class="sg-color-swatch"
                    style="background-color: #585f69;"
                  ></div>
                  <div class="sg-color-name">Very dark grayish blue</div>
                  <div class="sg-color-value">#585f69</div>
                </div>
              </div>
              <!--/.sg-color-grid-->
              <div class="sg-color-grid">
                <div class="sg-color">
                  <div
                    class="sg-color-swatch"
                    style="background-color: #e7e8ed;"
                  ></div>
                  <div class="sg-color-name">Light grayish blue</div>
                  <div class="sg-color-value">#e7e8ed</div>
                </div>
                <div class="sg-color">
                  <div
                    class="sg-color-swatch"
                    style="background-color: #e33101;"
                  ></div>
                  <div class="sg-color-name">Vivid Red</div>
                  <div class="sg-color-value">#e33101</div>
                </div>
                <div class="sg-color">
                  <div
                    class="sg-color-swatch"
                    style="background-color: #e94840;"
                  ></div>
                  <div class="sg-color-name">Bright Red</div>
                  <div class="sg-color-value">#e94840</div>
                </div>
                <div class="sg-color">
                  <div
                    class="sg-color-swatch"
                    style="background-color: #ffffff;"
                  ></div>
                  <div class="sg-color-name">White</div>
                  <div class="sg-color-value">#ffffff</div>
                </div>
              </div>
              <!--/.sg-color-grid-->
            </div>
            <!--/.sg-colors-->

            <!-- Manually add your fonts here. -->
            <div class="sg-font-stacks sg-section">
              <h2 id="sg-fontStacks" class="sg-h2">Font Stacks</h2>
              <dl class="sg-font-list">
                <dt>Primary Font:</dt>
                <dd style='font-family: Lato, Helvetica, Arial, sans-serif;'>
                  Lato, <span style="font-family:Helvetica">Helvetica</span>, <span style="font-family:Arial"></span>Arial</span>, <span style="font-family:sans-serif">sans-serif</span>;
                </dd>

                <dt>Primary Font Italic:</dt>
                <dd
                  style='font-family: Lato, Helvetica, Arial, sans-serif; font-style: italic;'
                >
                Lato, <span style="font-family:Helvetica">Helvetica</span>, <span style="font-family:Arial"></span>Arial</span>, <span style="font-family:sans-serif">sans-serif</span>;
              </dd>

                <dt>Primary Font Bold:</dt>
                <dd
                  style='font-family: Lato, Helvetica, Arial, sans-serif; font-weight: 900;'
                >
                Lato, <span style="font-family:Helvetica">Helvetica</span>, <span style="font-family:Arial"></span>Arial</span>, <span style="font-family:sans-serif">sans-serif</span>;
              </dd>

                <dt>Secondary Font:</dt>
                <dd
                  style='font-family: Oswald, Times, "Times New Roman", serif;'
                >
                Oswald, <span style="font-family:Times">Times</span>, <span style='font-family:"Times New Roman"'></span>"Times New Roman"</span>, <span style="font-family:serif">serif</span>;
                </dd>

                <dt>Secondary Font Italic:</dt>
                <dd
                  style='font-family: Oswald, Times, "Times New Roman", serif; font-style: italic;'
                >
                Oswald, <span style="font-family:Times">Times</span>, <span style='font-family:"Times New Roman"'></span>"Times New Roman"</span>, <span style="font-family:serif">serif</span>;
                </dd>

                <dt>Secondary Font Bold:</dt>
                <dd
                  style='font-family: Oswald, Times, "Times New Roman", serif; font-weight: 700;'
                >
                Oswald, <span style="font-family:Times">Times</span>, <span style='font-family:"Times New Roman"'></span>"Times New Roman"</span>, <span style="font-family:serif">serif</span>;
                </dd>
              </dl>
              <div class="sg-markup-controls">
                <a class="sg-btn--top" href="#top">Back to Top</a>
              </div>
            </div>
            <!--/.sg-font-stacks-->
          </div>
          <!--/.sg-info-->

          <!-- <?php renderFilesInFolder('markup'); ?> -->
          {% block content %} {# renderFilesInFolder #}

          <div class="sg-section-group">
            {% set directoryName = '' %} {% for file in files -%} {% if
            file.type == 'd' %}
            {{ elements.renderTitleFromPath(file.name, 'h1') }}
            {% set directoryName = file.name %} {% else %}
            {{ elements.renderFile(file.name, directoryName) }}
            {% endif %} {%- endfor %}
          </div>
          {% endblock %}
        </div>
        <!--/.sg-container-->
      </div>
      <!--/.sg-main-->
    </div>
    <!--/.sg-wrapper-->

    <!--[if gt IE 8
    ]><!--><script src="style-guide/vendor/prism/prism.js"></script
    ><!--<![endif]-->

    <script src="style-guide/js/jquery-1.12.4.min.js"></script>
    <script src="style-guide/js/bootstrap.js"></script>
    <script src="style-guide/js/sg-scripts.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
