/* -------------------------------------------------------------------------
 Buttons
---------------------------------------------------------------------------- */
/**
 * Buttons styles for home page.
 */
.btn {
  height: 60px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  color: $darkCyan;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $veryDarkCyan;
  border-radius: 0;
  max-width: 100%; //235px;
  width: 100%;

  @media (min-width: 1199px) {
    height: 46px;
    line-height: 20px;
    font-size: $base-fontSize;
  }
}

a.btn {
  padding: 15px 0;
}

.btn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &-info {
    color: $white;
    font-family: inherit;
    //font-size: calc(24px - 50%);
    font-size: inherit;
    font-weight: normal;
    line-height: calc(38px - 50%);
    text-align: center;
    background-color: transparent;
    border: 1px solid $white;
    max-width: 100%;
    &:hover,
    &:focus,
    &:active:hover {
      color: $white;
      background-color: $vividCyan;
      outline: 0;
      //box-shadow: 0 0 0 0.1rem $darkCyan
    }
  }

  &-cta {
    height: 60px;
    color: $white;
    background-color: $vividRed;
    border: 2px solid $vividRed;
    color: $white;
    font-family: inherit;
    //font-size: calc(24px - 50%);
    font-size: inherit;
    font-weight: normal;
    line-height: calc(38px - 50%);
    text-align: center;
    margin-bottom: 24px;
    max-width: 100%;
    box-shadow: none;

    &:focus {
      color: $white;
      background-color: $vividRed;
      //box-shadow: 0 0 0 0.1rem $darkCyan
    }

    &:hover {
      background-color: $ctaHover;
      color: $white;
    }

    &:active:hover {
      outline: 0;
    }
  }

  &-cta--disabled {
    height: 60px;
    color: $white;
    background-color: $lightGrayishBlue;
    border: 2px solid $lightGrayishBlue;
    color: $white;
    font-family: inherit;
    //font-size: calc(24px - 50%);
    font-size: inherit;
    font-weight: normal;
    line-height: calc(38px - 50%);
    text-align: center;
    margin-bottom: 24px;
    max-width: 100%;

    &:hover,
    &:focus {
      color: $white;
      //box-shadow: 0 0 0 0.1rem $darkCyan
    }
  }

  &-price {
    color: $veryDarkGrayishBlue;
    background-color: $white;
    border-color: $lightGrayishBlue;
    position: relative;
    text-transform: initial;
    text-decoration: none;
    text-align: left;
    border-radius: 0;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: inherit;

    :after {
      // content: '\25BA';
      content: url(../images/green-right-arrow.png);
      position: absolute;
      right: 10px;
      color: $vividCyan;
    }

    span {
      color: $darkCyan;
      font-weight: bold;
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $vividCyan;
      //box-shadow: 0 0 0 0.1rem $darkCyan

      span {
        color: $white;
      }

      :after {
        content: url(../images/white-right-arrow.png);
        color: $white;
      }
    }
  }

  &--block {
    width: 100%;
  }

  &-default {
    @media (min-width: 1199px) {
      max-width: 290px;
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
}

.price-and-btn {
  padding: 20px 20px 5px;
  border: 3px solid $vividCyan;
  border-radius: 5px;

  .price {
    margin-bottom: 30px;
    text-align: center;
    color: $darkCyan;
    font-size: 45px;
    font-family: Oswald;
    font-weight: bold;
    line-height: 38px;
  }

  .btn {
    margin-bottom: 15px;
  }

  @media (min-width: 1199px) {
    max-width: 370px;
    width: 100%;
  }
}

/* -------------------------------------------------------------------------
 Dropdown menu
---------------------------------------------------------------------------- */
/**
 * Dropdown menu styles for home page.
 */

.dropdown--car {
  margin-top: 10px;
  /* h-offset v-offset blur spread color */
  box-shadow: 2px 2px 15px 1px #e3e3e3;
  border-radius: 10px;
}

.btn-van,
.btn-car {
  position: relative;
  border: 1px solid transparent;
  border-radius: 10px;
  font-family: Oswald;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-transform: capitalize;
  color: $veryDarkCyan;
  width: 100%;
  max-width: 100%;
  text-align: left;
  padding: 10px 0 10px 10px;
  margin-top: 0px;

  span {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
  }

  &:hover {
    color: #333;
    background-color: white;
    border-color: white;
  }
}

.btn-van {
  margin-top: 10px;
  box-shadow: 2px 2px 15px 1px #e3e3e3;
  border-radius: 10px;
}

.dropdown--car .dropdown-menu {
  width: 100%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-color: transparent;
  position: relative;
  top: -0px;
  box-shadow: none;
  border: 1px solid white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid transparent;
  z-index: 0;
}

.open > .dropdown--car .dropdown-toggle.btn-car,
.dropdown--car .dropdown-toggle.btn-car {
  &:focus {
    color: black;
    background-color: white;
    border-color: transparent;
    outline: 0;
  }
}
