/* -------------------------------------------------------------------------
 Standard Card
---------------------------------------------------------------------------- */

/**
 * Standard Card styles for home page.
 */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.65rem;
  max-width: 100%; //308px;
  width: 100%;
  padding: 30px 15px 0 15px;
  box-shadow: 0 2px 12px 2px $lightGrayishBlue;
  margin-bottom: 15px;

  &-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    // height: 100%; // 180px;
    width: 100%; // 286px;
    display: block;
    margin-bottom: 15px;
  }

  &-body {
    flex: 1 1 auto;
  }

  &-title {
    margin-bottom: 30px;
    text-align: center;
  }
}

/* -------------------------------------------------------------------------
 Article Card
---------------------------------------------------------------------------- */

/**
 * Article Card styles for home page.
 */
.card-article {
  border-radius: 0;
  padding: 1px;
  box-shadow: none;

  .card-title {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 20px; // 30px;
  }

  .card-body {
    padding: 0 15px 20px 15px;
    height: 100%;

    a {
      text-decoration: underline;
    }
  }

  .card-text {
    padding-top: 0;
    margin-top: 0;
  }

  &:nth-child(4) {
    margin-bottom: 30px;
  }

  .card-published {
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: $darkGrey;
  }
}

.all-articles {
  .card-article {
    padding: 20px;
  }
}

.card-cover-option {
  .card-title {
    text-align: left;
    margin-bottom: 10px !important; // 30px;
  }

  .card-price-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-right: 3px;
  }

  .btn-mobile {
    display: block;
    height: auto;
    width: auto;
    display: block;
    flex: 0 1 auto;
    padding: 10px;

    @media (min-width: 1199px) {
      display: none;
    }
  }

  .btn-info-mobile {
    display: block;
    color: $darkCyan;
    border-color: $darkCyan;

    @media (min-width: 1199px) {
      display: none;
    }
  }

  .card-price {
    color: $darkCyan;
    font-family: Oswald;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
    max-width: 250px;
    width: 100%;
  }

  .card-text {
    display: flex;
    justify-content: space-between;
  }

  &.active {
    border: 3px solid $vividCyan;
  }

  .warning-text,
  .warning-text-60,
  .warning {
    color: $darkGrey;
  }

  .warning-text,
  .warning-text-60 {
    display: none;
    font-weight: normal;
    font-size: 16px;
    font-family: Lato;
    width: 250px;
    text-align: right;
  }
}

/* -------------------------------------------------------------------------
 Card Info
---------------------------------------------------------------------------- */

/**
 * Card Info styles for home page.
 */

.trust {
  background-color: $superLightGrey;

  .card-info {
    &:first-child {
      padding-top: 15px;
    }
  }
}

.card-info {
  background-color: $superLightGrey;
  border-radius: 0;
  box-shadow: none;
  max-width: 100%; // 300px;
  width: 100%;
  padding: 15px 30px;
  border: 0;

  .card-img-top {
    margin: 0 auto 20px;
  }

  .card-title {
    margin-bottom: 30px;
  }

  .card-text {
    margin-top: 0;
    text-align: center;
  }

  &:first-child {
    padding-top: 30px;
  }
}
