#productOptions,
#blog,
#blogPage {
  .cover-options {
    .inner {
      @media (min-width: 1199px) {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
      }

      .info-box-container,
      .info-box-container .info-box {
        @media (min-width: 1199px) {
          margin-top: 0;
        }
      }

      .product-options-days-cover {
        max-width: 280px;
        width: 100%;
      }

      .policy-info {
        transition: all 0.4s ease-out;

        @media (min-width: 1199px) {
          display: block;
        }
      }

      .policy-summary {
        a.btn {
          margin-bottom: 20px;
        }
      }
    }

    .cover-options-container {
      @media (min-width: 1199px) {
        margin-right: 25px;
        width: 100%;
      }
    }

    .card-cover-option {
      padding: 0;
      border-width: 3px;

      &:hover {
        border: 3px solid #01dbab;
      }

      .inner {
        padding: 35px 45px 25px;
        display: flex;
        flex-flow: column nowrap;

        &.active {
          padding: 32px 42px 22px !important;

          // .card-icons {
          //   display: flex;
          // }
        }

        .card-header {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }

        .card-body {
          flex-flow: row wrap;
          width: 100%;
        }

        .card-text {
          flex-flow: column nowrap;
        }
      }

      .card-icons {
        display: flex;
        padding: 10px;
        background-color: $veryDarkCyan;
        padding: 0;
        border-bottom-left-radius: 0.65rem;
        border-bottom-right-radius: 0.65rem;

        @media (min-width: 1199px) {
          display: none;
        }

        .accordion-bar {
          display: flex;
          flex-flow: row nowrap;
          padding: 10px;
          width: 100%;
          justify-content: space-between;

          .accordion {
            position: relative;
            width: 100%;
          }

          .accordion > .more-information {
            background-color: #023742;
            color: white;
            cursor: pointer;
            padding: 5px 0;
            font-family: Lato;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            position: absolute;
            width: auto;
            top: 5px;
            left: 35px;
            text-decoration: underline;

            &:after {
              content: "";
              display: inline-block;
              position: absolute;
              top: 50%;
              margin-top: 0;
              right: -20px;
              width: 0;
              height: 0;
              border: 7px solid transparent;
              border-top-color: #18d9ac;
            }

            &.active:after {
              content: "";
              border-top-color: transparent;
              margin-top: -10px;
              border-bottom-color: #18d9ac;
            }
          }

          .accordion + .btn {
            margin-bottom: 0;
            max-width: 150px;
            width: 100%;
            padding: 5px;
          }
        }
      }
    }
  }
}
