.dropdown {
    cursor:pointer;
    margin-bottom: 20px;
    & > a.dropdown-toggle {
        width: 100%;
    }

    &.open > a, &.open > a:hover {
        background-color: $veryDarkCyan;
        border-color: $veryDarkCyan;
        color: $vividCyan;
    }

    &-menu {
        position: static;
        float: none;
        background-color: $veryDarkCyan;
        border-radius: 0;
        border: 0;
        padding-bottom: 15px;
        @media(min-width:1199px) {
            position: absolute;
            top: 28px;
            left: 5px;
            border: 1px solid $veryDarkCyan;
            padding-bottom: 0;
            padding-top: 0;
        }

        li {
            margin: 0 auto;
            width: 100%;
            padding: 5px 0;
            @media(min-width:1199px) { padding: 0 }
            a {
                width: 100%;
                display: block;
            }
        }
    }
}
