.nav-link {
  display: block;
  padding: 1rem 1rem;
  height: 100%;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* -------------------------------------------------------------------------
 Menu
---------------------------------------------------------------------------- */
/**
 * Menu styles.
 */
.navbar {
  /*position: relative;*/
  height: 10%;
  margin-bottom: 0;
  border: 1px solid transparent;
  background-color: $veryDarkCyan;
  border-radius: 0;

  // .container-fluid,
  // .container {
  //   height: 100%;
  // }
}

.navbar-brand {
  display: inline-block;
  font-size: 22px;
  margin-top: 5px;
  padding: 0 0 0 15px;
  float: none;
  height: 34px;
  line-height: initial;
  width: 227px;
}

.navbar-header {
  flex: 1 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  position: relative;
}

.navbar-collapse {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 1199px) {
    width: auto;
  }
}

.navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: none;
  background-color: $veryDarkCyan;
  z-index: 1;

  li {
    text-align: center;
    margin: 15px auto;

    &:before {
      content: '';
    }

    a {
      color: $white;
      padding: 10px;

      &:hover,
      &:focus,
      &:active:hover {
        color: $vividCyan;
        background-color: $veryDarkCyan;
        outline: 0;
      }
    }
  }
}

.navbar-toggle {
  position: absolute;
  top: 7px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-right: initial;
  margin-top: initial;
  margin-bottom: initial;
  float: none;
  // border-color: #ddd;
}

.active {
  display: block;
}

.navbar-toggle .icon-bar {
  background-color: $white;
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 7px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (min-width: 1199px) {
  .navbar {
    // display: flex;
    // justify-content: space-between;
    padding-bottom: 0;
    // align-items: center;
    padding-right: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 100%;
  }
  .navbar-nav {
    display: flex;
    margin-right: 0;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;

    ul li {
      + li:before {
        display: none;
      }
      &:before {
        display: none;
      }
    }
  }
  .navbar-nav li {
    margin: 0 0 0 20px;
    flex: 1 0 auto;
    float: none;
    clear: both;

    &:first-child:before {
      display: none;
    }

    /*& + li:before {
      content: '|';
      color: $white;
      padding-right: 19px;
    }

    &:last-child {
      position: relative;
      top: 2px;
      left: 0;
      &:before {
        display: none;
      }
    }*/

    .person-icon {
      width: 18px;
      height: 14px;
      vertical-align: baseline;
    }

    a {
      font-size: 13px;
      color: $white;
      display: inline;
    }
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
    vertical-align: baseline;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.navbar-collapse {
  display: block;
  z-index: 1;
  position: relative;

  // margin-left: -15px !important;
  // margin-right: -15px !important;
}

.navbar-collapse {
  position: relative;
  right: 0;

  @media (min-width: 1199px) {
    right: 3em;
  }
}

.navbar-nav {
  float: none !important;
  margin-top: 0px;
}
@media (max-width: 1199px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;

    .navbar-collapse,
    .currency {
      background-color: $veryDarkCyan;
      border-color: $veryDarkCyan;
      outline: 0;
    }
  }
  // .navbar-collapse.collapse {
  //   display: none !important;
  // }
  .navbar-nav {
    float: none !important;
    margin-top: 0;
    // margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

// mobile button
.currency-mobile {
  display: block;
  position: absolute;
  right: 3em;
  top: 0.4em;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0 0.5em;
  color: white;
  background-color: transparent;
  border: none;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  margin-right: 0.2em;

  &:focus {
    outline: 0;
  }

  @media (min-width: 1199px) {
    display: none;
  }
}

.navbar {
  height: 10%;
}

.navbar-brand {
  max-width: 19em;
  margin: 0.9em 0 0.7em;
}

.currency {
  display: flex;
  justify-content: flex-start;
  margin: auto 0;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 1em;

  ul {
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  p,
  li {
    font-weight: bold;
    margin: 10px 1.5em 10px 10px;
    list-style-type: none;
    line-height: 24px;
    color: $vividCyan;
    margin-top: 0.5em;

    a {
      color: white;
    }
  }

  p:first-child {
    @media (min-width: 1199px) {
      display: none;
    }
  }

  li {
    @media (min-width: 1199px) {
      margin-right: 0.5em;
    }
  }

  @media (min-width: 1199px) {
    display: block;
    padding: 0;
    width: auto;
    position: absolute;
    left: 44em;
    top: -1.15em;
    margin: 0 0 0 0;
    text-align: left;
  }
}
