/**
 *  @desc serach
 */

.search-options {
    margin-bottom: 30px;
    margin-top: 35px;

    @media (min-width: 1199px) {
        margin-bottom: 0;
        margin-top: 35px;
    }

    .inner {
        @media (min-width: 1199px) {
            display: flex;
            flex-flow: row-reverse nowrap;
            justify-content: space-between;
            align-items: baseline;
            height: 50px;
        }
    }

    .form-group {
        padding: 15px 10px;
        margin-bottom: 20px;
        background-color: $lightGreen;
        display: block;

        @media (min-width: 1199px) {
            display: flex;
            background-color: $white;
            padding-top: 0;
        }
    }
}

.search-label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 0;

  input {
    width: 100%;
    margin: 0 30px;
    display: block;
    border-radius: 5px;
    border: 1px solid $darkGrey;
    height: 35px;
    padding-left: 20px;
    color: $mainTextColour;
    background-image: url(/images/search-icon-black.png);
    background-position: calc(100% - 10px) calc(100% - 5px);
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    outline: 0;

    @media (min-width: 1199px) {
      width: 340px;
      height: 40px;
    }
  }
}

.search-options-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  a {
    color: $mainTextColour;

    &.active {
      color: $darkCyan;
    }
  }

  a + a:before {
    content: '|';
    color: $darkCyan;
    margin-right: 5rem;

    @media (min-width: 575px) {
      margin-right: 7.5rem;
    }

    @media (min-width: 767px) {
      margin-right: 10rem;
    }

    @media (min-width: 1199px) {
      margin-right: 3rem;
      margin-left: 3rem;
    }
  }
}

/**
 *  @desc serach-options-alt
 *  @loc 
 */
.search-options--alt {
    .inner {
        height: auto;

        @media (min-width: 1199px) {
            flex-flow: row wrap;
        }

        .form-group {
            @media (min-width: 1199px) {
                padding: 15px 10px 33px;
                margin-bottom: 20px;
                background-color: #18d9ac;
                flex-flow: column nowrap;
                margin: 0 auto 64px;
                width: 100%;
            }

            .search-label {
                input {
                    @media (min-width: 1199px) {
                        width: 648px;
                    }
                }
            }

            h4 {
                text-align: center;
            }
        }

        .nav-tabs {
            flex-flow: column nowrap;
            margin: 0 auto;
            border: 0;

            @media (min-width: 1199px) {
                flex-flow: row nowrap;
                max-width: 100%;
                border: 0;
            }

            .active a {
                @media (min-width: 1199px) {
                    border-bottom: 0;
                    z-index: 6;
                    position: relative;
                    top: 1px;
                }

                &:hover {
                    border-bottom-color: #ddd;
                }

                span {
                    margin-bottom: 10px;
                }
            }

            li {
                margin: 0 auto 15px;

                @media (min-width: 1199px) {
                    flex: 1 0 235px;
                    width: 100%;
                    margin-bottom: -1px;
                    float: none;
                }

                &:not(.active) {
                    padding: 0 0 10px;
                }
            }

            a {
                text-decoration: none;
                width: 335px;
                height: 111px;
                padding: 20px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: baseline;
                align-items: center;
                border: 1px solid $midGrey;

                @media (min-width: 1199px) {
                    width: 220px;
                    flex-flow: column nowrap;
                    height: 100%;
                    justify-content: flex-end;
                    padding: 20px 0;
                }

                span {
                    @media (min-width: 1199px) {
                        font-size: 14px;
                        display: block;
                        margin-top: 10px;
                    }
                }
            }

            img {
                margin-right: 20px;

                @media (min-width: 1199px) {
                    margin-right: 0;
                }
            }
        }
    }

    @media (min-width: 1199px) {
        margin-left: -15px;
        margin-right: -15px;
    }

    .faqs-tabs {
        @media (min-width: 1199px) {
            width: 100%;
        }
    }
}
