.social-icons {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;

  ul {
    list-style: none;
  }
}

.icon {
  display: inline-block;
  text-indent: 100%;
  color: transparent;
  text-align: center;
}

.facebook {
  background: url(../images/facebook-icon.png) no-repeat center center;
  width: 15px;
  height: 30px;
}

.twitter {
  background: url(../images/twitter-icon.png) no-repeat center center;
  width: 28px;
  height: 23px;
}

.instagram {
  background: url(../images/instagram-icon.png) no-repeat center center;
  width: 30px;
  height: 30px;
}

.social-icons--mobile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;

  @media (min-width: 1199px) {
    display: none;
  }

  a {
    margin-bottom: 20px;
  }
}

.social-icons--desktop {
  display: none;

  @media (min-width: 1199px) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    // margin-top: 20px;
  }

  a {
    margin-left: 20px;
  }
}

.facebook-black {
  background: url(../images/facebook-icon-black.png) no-repeat center center;
  width: 13px;
  height: 22px;
}

.twitter-black {
  background: url(../images/twitter-icon-black.png) no-repeat center center;
  width: 22px;
  height: 17px;
}

.instagram-black {
  background: url(../images/instagram-icon-black.png) no-repeat center center;
  width: 22px;
  height: 22px;
}

/*
** @group share--buttons
 */
.share-buttons {
  top: 0;
  position: relative;
  margin: 1em;
  padding-bottom: 1em;

  @media (min-width: 1199px) {
    position: fixed;
    top: 200px;
    right: 0;
    height: 100%;
    display: none;
  }
}

.share-buttons .sharing-buttons {
  transform: none;
  text-align: center;

  @media (min-width: 1199px) {
    text-align: initial;
    transition: background-color 0.5s;
  }

  a {
    display: inline-block;
    overflow: hidden;
    width: 2em;
    height: 2em;
    margin: 0 0 0.5em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 60% auto;
    text-indent: -9999px;
    font-size: 130%;
    border-radius: 2px;

    @media (min-width: 1199px) {
      display: block;
      border-radius: 4px 0 0 4px;
    }
  }
}

.share-buttons .sharing-buttons a.fb {
  background-image: url(/images/svg/logo-facebook.svg);
  background-color: #3b5998;
}

.share-buttons .sharing-buttons a.tw {
  background-image: url(/images/svg/logo-twitter.svg);
  background-color: #2ba9e1;
}

.share-buttons .sharing-buttons a.gp {
  background-image: url(/images/svg/logo-google-plus.svg);
  background-color: #dd4b39;
}

.share-buttons .sharing-buttons a.pin {
  background-image: url(/images/svg/logo-pinterest.svg);
  background-color: #cb2027;
}

.share-buttons .sharing-buttons a.li {
  background-image: url(/images/svg/logo-linkedin.svg);
  background-color: #007bb6;
}
