<h2 class="text-center">Releated Articles</h2>

<div class="inner">
  <div class="card card-article">
    <img
      class="card-img-top img-responsive"
      data-src="article-img-sample-1.jpg"
      alt="286%x180"
      src="./images/article-img-sample-1.jpg"
      data-holder-rendered="true"
    />
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="">View article</a>
    </div>
  </div>
  <!--//.card-->

  <div class="card card-article">
    <img
      class="card-img-top img-responsive"
      data-src="./images/article-img-sample-2.jpg"
      alt="286%x180"
      src="./images/article-img-sample-2.jpg"
      data-holder-rendered="true"
    />
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="">View article</a>
    </div>
  </div>
  <!--//.card-->

  <div class="card card-article">
    <img
      class="card-img-top img-responsive"
      data-src="./images/article-img-sample-3.jpg"
      alt="286%x180"
      src="./images/article-img-sample-3.jpg"
      data-holder-rendered="true"
    />
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="">View article</a>
    </div>
  </div>
  <!--//.card-->
</div>

<a
class="btn btn-default btn-articles"
href="other.html"
>
  <span>More Articles</span>
</a>