<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.js"></script>

{#
<script src="/js/index.bundle.js"></script>
<script src="/js/application.bundle.js"></script>
#}

<script src="/js/scripts.js"></script>

<script src="//api.feefo.com/api/javascript/insurance4carhire" aync></script>
