<div class="card card-cover-option active">
  <h4 class="card-title">Card title</h4>
  <div class="card-body">
    <p class="card-price">£11.99</p>
    <p class="card-text">
      Some quick example text to build on the card.
    </p>
    <div class="form-group">
      <input type="text" value="" class="form-control" />
    </div>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk
      of the card's content.
    </p>
  </div>
  <!--//.card-body-->
</div>
<!--.card-->

<div class="card card-cover-option">
  <h4 class="card-title">Card title</h4>
  <div class="card-body">
    <p class="card-price">£11.99</p>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk
      of the card's content.
    </p>
  </div>
  <!--//.card-body-->
</div>
<!--.card-->

  <div class="card card-cover-option">
  <h4 class="card-title">Card title</h4>
  <div class="card-body">
    <p class="card-price">£11.99</p>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk
      of the card's content.
    </p>
  </div>
  <!--//.card-body-->
</div>
<!--.card-->

  <div class="card card-cover-option">
  <h4 class="card-title">Card title</h4>
  <div class="card-body">
    <p class="card-price">£11.99</p>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk
      of the card's content.
    </p>
  </div>
  <!--//.card-body-->
</div>
<!--.card-->