
<div class="cover-options-container">
  <div class="card card-cover-option cover-option-1 active" data-policy="policy-summary-1">
    <div class="inner">
      <h4 class="card-title">Single-Trip Worldwide</h4>
      <p class="card-price"><span class="currency">£</span><span class="amount">11.99</span></p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card.
      </p>
      <div class="form-group">
        <input type="number" value="1" class="form-control product-options-days-cover" id="daysCover" name="daysCover" />
      </div>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <!--//.card-body-->
    <div class="card-icons">
      <a href="/product.html" title="Product Information"><img src="/images/sell-product.svg"/></a>
    </div><!--//.card-icons-->
  </div>
  <!--.card-->

  <div class="card card-cover-option cover-option-2" data-policy="policy-summary-2">
    <div class="inner">
      <h4 class="card-title">Annual Europe</h4>
      <p class="card-price"><span class="currency">£</span><span class="amount">42.99</span></p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <!--//.card-body-->
    <div class="card-icons">
      <a href="/product.html" title="Product Information"><img src="/images/sell-product.svg"/></a>
    </div><!--//.card-icons-->
  </div>
  <!--.card-->

  <div class="card card-cover-option cover-option-3" data-policy="policy-summary-3">
    <div class="inner">
      <h4 class="card-title">Annual Worldwide</h4>
      <p class="card-price"><span class="currency">£</span><span class="amount">54.99</span></p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <!--//.card-body-->
      <div class="card-icons">
      <a href="/product.html" title="Product Information"><img src="/images/sell-product.svg"/></a>
    </div><!--//.card-icons-->
  </div>
  <!--.card-->

  <div class="card card-cover-option cover-option-4" data-policy="policy-summary-4">
    <div class="inner">
      <h4 class="card-title">Annual Worldwide plus CDW & SLI</h4>
      <p class="card-price"><span class="currency">£</span><span class="amount">109.99</span></p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <!--//.card-body-->
    <div class="card-icons">
      <a href="/product.html" title="Product Information"><img src="/images/sell-product.svg"/></a>
    </div><!--//.card-icons-->
  </div>
  <!--.card-->
</div>
<!--//.cover-options-container-->

<div class="info-box-container policy-summary">
  <div class="info-box policy-summary-1">
    <h3>Policy Summary</h3>
    <h4>Single-Trip Worldwide</h4>
    <dl class="itinerary">
      <dt>Duration</dt>
      <dd>Single Trip</dd>
      <dt>Territory</dt>
      <dd>Europe</dd>
      <dt>Start date</dt>
      <dd>25/02/2019</dd>
      <dt>End date</dt>
      <dd>24/02/2020</dd>
      <dt>Drivers</dt>
      <dd>1</dd>
    </dl>
    <div class="accordion">
      <button class="accordion-btn h4">Section 1</button>
      <div class="accordion-panel">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          nihil. Tenetur at sunt porro vero facere excepturi omnis.
        </p>
      </div>

      <button class="accordion-btn h4">Section 2</button>
      <div class="accordion-panel">
        <ul class="tick-list">
          <li>Excess on damageand theft up t0 £6,500 per year</li>
          <li>
            Damage caused by using the wrong type of fuel: up to £500 per claim
            and £2,00 per year
          </li>
          <li>Content</li>
          <li>Insurance</li>
          <li>Towergate</li>
        </ul>
        <ul class="cross-list">
          <li>Excess on damageand theft up t0 £6,500 per year</li>
          <li>
            Damage caused by using the wrong type of fuel: up to £500 per claim
            and £2,00 per year
          </li>
          <li>Content</li>
          <li>Insurance</li>
          <li>Towergate</li>
        </ul>
      </div>
    </div>

    <button class="btn btn-cta btn--block" type="submit" data-href="other.html">
      Buy now
    </button>
  </div>
  <!--//.info-box-->

  <div class="info-box policy-summary-2">
    <h3>Policy Summary</h3>
    <h4>Annual Eurpe</h4>
    <dl class="itinerary">
      <dt>Duration</dt>
      <dd>Annual</dd>
      <dt>Territory</dt>
      <dd>Worldwide</dd>
      <dt>Start date</dt>
      <dd>25/02/2019</dd>
      <dt>End date</dt>
      <dd>24/02/2020</dd>
      <dt>Drivers</dt>
      <dd>1</dd>
    </dl>
    <div class="accordion">
      <button class="accordion-btn h4">Section 1</button>
      <div class="accordion-panel">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          nihil. Tenetur at sunt porro vero facere excepturi omnis.
        </p>
      </div>

      <button class="accordion-btn h4">Section 2</button>
      <div class="accordion-panel">
        <ul class="tick-list">
          <li>Excess on damageand theft up t0 £6,500 per year</li>
          <li>
            Damage caused by using the wrong type of fuel: up to £500 per claim
            and £2,00 per year
          </li>
          <li>Content</li>
          <li>Insurance</li>
          <li>Towergate</li>
        </ul>
        <ul class="cross-list">
          <li>Excess on damageand theft up t0 £6,500 per year</li>
          <li>
            Damage caused by using the wrong type of fuel: up to £500 per claim
            and £2,00 per year
          </li>
          <li>Content</li>
          <li>Insurance</li>
          <li>Towergate</li>
        </ul>
      </div>
    </div>

    <button class="btn btn-cta btn--block" type="submit" data-href="other.html">
      Buy now
    </button>
  </div>
  <!--//.info-box-->

  <div class="info-box policy-summary-3">
    <h3>Policy Summary</h3>
    <h4>Single-Trip Worldwide</h4>
    <dl class="itinerary">
      <dt>Duration</dt>
      <dd>Single Trip</dd>
      <dt>Territory</dt>
      <dd>Europe</dd>
      <dt>Start date</dt>
      <dd>25/02/2019</dd>
      <dt>End date</dt>
      <dd>24/02/2020</dd>
      <dt>Drivers</dt>
      <dd>1</dd>
    </dl>
    <div class="accordion">
      <button class="accordion-btn h4">Section 1</button>
      <div class="accordion-panel">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          nihil. Tenetur at sunt porro vero facere excepturi omnis.
        </p>
      </div>

      <button class="accordion-btn h4">Section 2</button>
      <div class="accordion-panel">
        <ul class="tick-list">
          <li>Excess on damageand theft up t0 £6,500 per year</li>
          <li>
            Damage caused by using the wrong type of fuel: up to £500 per claim
            and £2,00 per year
          </li>
          <li>Content</li>
          <li>Insurance</li>
          <li>Towergate</li>
        </ul>
        <ul class="cross-list">
          <li>Excess on damageand theft up t0 £6,500 per year</li>
          <li>
            Damage caused by using the wrong type of fuel: up to £500 per claim
            and £2,00 per year
          </li>
          <li>Content</li>
          <li>Insurance</li>
          <li>Towergate</li>
        </ul>
      </div>
    </div>

    <button class="btn btn-cta btn--block" type="submit" data-href="other.html">
      Buy now
    </button>
  </div>
  <!--//.info-box-->

    <div class="info-box policy-summary-4">
    <h3>Policy Summary</h3>
    <h4>Single-Trip Worldwide</h4>
    <dl class="itinerary">
      <dt>Duration</dt>
      <dd>Single Trip</dd>
      <dt>Territory</dt>
      <dd>Europe</dd>
      <dt>Start date</dt>
      <dd>25/02/2019</dd>
      <dt>End date</dt>
      <dd>24/02/2020</dd>
      <dt>Drivers</dt>
      <dd>1</dd>
    </dl>
    <div class="accordion">
      <button class="accordion-btn h4">Section 1</button>
      <div class="accordion-panel">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          nihil. Tenetur at sunt porro vero facere excepturi omnis.
        </p>
      </div>

      <button class="accordion-btn h4">Section 2</button>
      <div class="accordion-panel">
        <ul class="tick-list">
          <li>Excess on damageand theft up t0 £6,500 per year</li>
          <li>
            Damage caused by using the wrong type of fuel: up to £500 per claim
            and £2,00 per year
          </li>
          <li>Content</li>
          <li>Insurance</li>
          <li>Towergate</li>
        </ul>
        <ul class="cross-list">
          <li>Excess on damageand theft up t0 £6,500 per year</li>
          <li>
            Damage caused by using the wrong type of fuel: up to £500 per claim
            and £2,00 per year
          </li>
          <li>Content</li>
          <li>Insurance</li>
          <li>Towergate</li>
        </ul>
      </div>
    </div>

    <button class="btn btn-cta btn--block" type="submit" data-href="other.html">
      Buy now
    </button>
  </div>
  <!--//.info-box-->
</div>