<ul class="footer-list">
  <li><a href="">About Us</a></li>
  <li><a href="">Who are we?</a></li>
  <li><a href="">What do we do?</a></li>
  <li><a href="/product-options.html">Product Comparison</a></li>
</ul>

<ul class="footer-list">
  <li><a href="">Regulatory Information</a></li>
  <li><a href="">Fair Processing Notice</a></li>
  <li><a href="">Modern Slavery Act Statement</a></li>
  <li><a href="">Other Regulations</a></li>
</ul>

<ul class="footer-list">
  <li><a href="/faqs.html">FAQs</a></li>
</ul>

<ul class="footer-list">
  <li><a href="">Contact Us</a></li>
</ul>

<div class="social-icons">
  <a href=""><i class="facebook icon">Facebook</i></a>
  <a href=""><i class="twitter icon">Twitter</i></a>
  <a href=""><i class="instagram icon">Instagram</i></a>
</div>

<div class="footer-info">
  <p>
    Insurance 4 Car Hire is a trading name of Towergate Underwriting Group Limited.
    Towergate Underwriting Group Limited Registered Office: Towergate House, Eclipse Park, Sittingbourne Road,
    Maidstone, Kent, ME14 3EN. Registered in England No. 4043759. Authorised and regulated by the Financial Conduct
    Authority.
  </p>
  <p>&copy; insurance4carhire.com</p>

</div>