<div class="card">
  <h3>What's included</h3>
  <ul class="tick-list">
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
    <li>Odio cupiditate quis earum aspernatur,</li>
    <li>exercitationem quisquam alias voluptatem aperiam eveniet quod nobis nulla, vero sit,</li>
    <li>Car</li>
    <li>assumenda praesentium obcaecati magni.</li>
    <li>Car</li>
  </ul>
</div>

<div class="card">
  <h3>What's not included</h3>
  <ul class="cross-list">
    <li>assumenda praesentium obcaecati magni.</li>
    <li>Damage</li>
    <li>exercitationem quisquam alias voluptatem aperiam eveniet quod nobis nulla, vero sit,</li>
    <li>Car</li>
    <li>Flat</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
  </ul>
</div>
