<div class="card">
  <h3>What's included</h3>
  <ul class="tick-list">
    <li>Excess</li>
    <li>Damage</li>
    <li>Flat</li>
    <li>Car</li>
    <li>Flat</li>
    <li>Car</li>
  </ul>
</div>

<div class="card">
  <h3>What's not included</h3>
  <ul class="cross-list">
    <li>Excess</li>
    <li>Damage</li>
    <li>Flat</li>
    <li>Car</li>
    <li>Flat</li>
    <li>Car</li>
  </ul>
</div>