<ul class="footer-list">
  <li><a href="">About Us</a></li>
  <li><a href="">Who are we?</a></li>
  <li><a href="">What do we do?</a></li>
  <li><a href="">Product Comparison</a></li>
</ul>

<ul class="footer-list">
  <li><a href="">Regulatory Information</a></li>
  <li><a href="">Fair Processing Notice</a></li>
  <li><a href="">Modern Slavery Act Statement</a></li>
  <li><a href="">Other Regulations</a></li>
</ul>

<ul class="footer-list">
  <li><a href="">FAQs</a></li>
</ul>

<ul class="footer-list">
  <li><a href="">Contact Us</a></li>
</ul>

<div class="social-icons">
  <!-- <ul>
  <li><a href="" class="facebook-icon">Facebook</a></li>
  <li><a href="" class="twitter-icon">Twitter</a></li>
  <li><a href="" class="instagram-icon">Instagram</a></li>
</ul> -->

  <a href=""><i class="facebook icon">Facebook</i></a>
  <a href=""><i class="twitter icon">Twitter</i></a>
  <a href=""><i class="instagram icon">Instagram</i></a>
</div>
