 <nav class="navbar row">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          id="js-navbar-toggle"
          class="navbar-toggle"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <picture class="logo">
            <source
              class="logo__mobile"
              media="(min-width: 959px)"
              srcset="./images/logo.png"
            />
            <img
              src="./images/logo.png"
              class="img-fluid logo"
              alt="Insurance 4 Car Hire"
            />
          </picture>
        </a>
      </div>
      <!--//.navbar-header-->

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" id="js-menu">
          <li class="dropdown active">
            {# <a href="/product.html">Car Hire Excess Insurance</a> #}
            <a class="dropdown-toggle" data-toggle="dropdown">Car Hire Excess Insurance
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </li>


          <li><a href="/product.html">Van Hire Excess Insurance</a></li>
          <li><a href="#">Claims</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li>
            <a href="#"
              ><span class="sr-only">Account</span
              ><img
                class="person-icon"
                src="images/person-icon.png"
                alt="Account icon"
            /></a>
          </li>
        </ul>
      </div>
      <!--//.nav-collapse -->
    </div>
    <!--//.container-fluid -->
  </nav>
  <!--//.navbar -->