<button
  class="btn btn-default btn--block text-black"
  type="submit"
  data-href="other.html"
>
  View Policy Documentation
</button>

<div class="info-box--squared">
  <h3>Is Annual Worldwide policy right for me?</h3>

  <ul class="tick-list">
    <li>Am I between 21 and 85?</li>
    <li>Am I resident* in on ofthese countries or territories: UK</li>
    <li class="question-icon">Do I nee CDW and SLI cover too?</li>
  </ul>
</div>
