<button
  class="btn btn-default btn--block text-black revealdocs"
  type="submit"
  data-href="other.html"
>
  View Policy Documentation
</button>

<div class="docs" style="display: none;">
  <a href="https://www.towergateinsurance.co.uk/media/2451969/pers-motor-mobility-summary.pdf" title="Policy Summary" target="_blank">
      <div class="docpdf">
          <p class="doc-name">Policy Summary</p>
          <span class="docsize">[pdf, 85 KB]</span>
      </div>
  </a>
  <a href="https://www.towergateinsurance.co.uk/media/2451973/pers-motor-mobility-wording.pdf" title="Policy Wording" target="_blank">
      <div class="docpdf">
          <p class="doc-name">Policy Wording</p>
          <span class="docsize">[pdf, 706 KB]</span>
      </div>
  </a>
  <a href="https://www.towergateinsurance.co.uk/media/2451965/pers-motor-mobility-keyfacts.pdf" title="Keyfacts" target="_blank">
      <div class="docpdf">
          <p class="doc-name">Keyfacts</p>
          <span class="docsize">[pdf, 56 KB]</span>
      </div>
  </a>
  <a href="https://www.towergateinsurance.co.uk/media/2575658/pers-motor-mobilitycar-proposalform.pdf" title="Proposal Form" target="_blank">
      <div class="docpdf">
          <div>Proposal Form</div>
          <span class="docsize">[pdf, 292 KB]</span>
      </div>
  </a>
</div>

<div class="info-box-squared-container">
  <div class="info-box-squared">
    <h3>Is Annual Worldwide policy right for me?</h3>

    <ul class="tick-list">
      <li>Am I between 21 and 85?</li>
      <li>Am I resident* in on ofthese countries or territories: UK</li>
      <li class="question-icon">Do I nee CDW and SLI cover too?</li>
    </ul>
  </div>
</div>
