  <div class="card card-article">
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="">View article</a>
    </div>
  </div>
  <!--//.card-->

  <div class="card card-article">
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="">View article</a>
    </div>
  </div>
  <!--//.card-->

  <div class="card card-article bdr-dark-grey">
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="">View article</a>
      <span class="card-published">2 hrs ago</span>
    </div>
  </div>
  <!--//.card-->

  <div class="card card-article bdr-dark-grey">
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <a href="#" class="">View article</a>
      <span class="card-published">2 hrs ago</span>
    </div>
  </div>
  <!--//.card-->

    <div class="card card-article bdr-dark-grey">
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        Expedita asperiores provident omnis.
      </p>
      <a href="#" class="">View article</a>
      <span class="card-published">2 hrs ago</span>
    </div>
  </div>
  <!--//.card-->


  <div class="card card-article bdr-dark-grey">
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        Fuga ipsum laudantium officiis itaque dicta velit quod soluta amet! Impedit
      </p>
      <a href="#" class="">View article</a>
      <span class="card-published">2 hrs ago</span>
    </div>
  </div>
  <!--//.card-->

    <div class="card card-article bdr-dark-grey">
    <h3 class="card-title">Card title</h3>
    <div class="card-body">
      <p class="card-text">
        laboriosam assumenda possimus exercitationem repudiandae illo sequi?
      </p>
      <a href="#" class="">View article</a>
      <span class="card-published">2 hrs ago</span>
    </div>
  </div>
  <!--//.card-->