<div class="row">
  <h2 class="col-md-12 text-center">Where can I drive?</h2>
</div>

  {# <div class="inner small">
    <div class="dropdown dropdown--car">
        <button
        class="btn btn-default dropdown-toggle btn-car"
        type="button"
        id="dropdownMenu1"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
      >
        Car
        <span class="down-arrow"></span>
      </button>
      <ul
        class="dropdown-menu dropdown-menu--block"
        aria-labelledby="dropdownMenu1"
      >
        <li><a href="#">Europe Annual</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Worldwide Single Trip</a></li>
        <li><a href="#">Worldwide Annual</a></li>
        <li><a href="#">Annual Plus CDW & SLI</a></li>
      </ul>
    </div>
    <button class="btn btn-default btn-van">Van <span class="right-arrow"></span></button>
  </div> #}

  <div class="inner">
    <div class="accordion card-products row">
      <div class="card card-product col-xs-12 col-sm-4">
        <button class="accordion-btn h3">Car Europe</button>
        <div class="accordion-panel">
          <div class="form-group">
            <button
              class="btn btn-price btn--block"
              type="submit"
              data-href="other.html"
            >
              Europe Annual <span>from £42.99</span>
            </button>
          </div>
          <!--//.form-group-->

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
            numquam, quo architecto officia aperiam eius doloribus.
          </p>

          <div class="form-group">
            <div class="country-scroller">
              <button class="country-scroller__up"></button>
              <ul class="country-scroller__items">
                <li class="country-scroller__item">Afghanistan</li>
                <li class="country-scroller__item">Albania</li>
                <li class="country-scroller__item">Algeria</li>
                <li class="country-scroller__item">Andorra</li>
                <li class="country-scroller__item">Angola</li>
                <li class="country-scroller__item">Antigua and Barbuda</li>
                <li class="country-scroller__item">Argentina</li>
                <li class="country-scroller__item">Armenia</li>
                <li class="country-scroller__item">Austria</li>
                <li class="country-scroller__item">Azerbaijan</li>
              </ul>
              <button class="country-scroller__down"></button>
            </div>
            <!--//.country-scroller-->
          </div>
          <!--//.form-group-->
        </div>
      </div>
      <!--//.card-->

      <div class="card card-product col-xs-12 col-sm-4">
        <button class="accordion-btn h3">Car Worldwide</button>
        <div class="accordion-panel">
         <div class="form-group">
            <button
              class="btn btn-price btn--block"
              type="submit"
              data-href="other.html"
            >
              Europe Annual <span>from £42.99</span>
            </button>
          </div>
          <!--//.form-group-->
         <div class="form-group">
            <button
              class="btn btn-price btn--block"
              type="submit"
              data-href="other.html"
            >
              Europe Annual <span>from £42.99</span>
            </button>
          </div>
          <!--//.form-group-->
         <div class="form-group">
            <button
              class="btn btn-price btn--block"
              type="submit"
              data-href="other.html"
            >
              Europe Annual <span>from £42.99</span>
            </button>
          </div>
          <!--//.form-group-->

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
            numquam, quo architecto officia aperiam eius doloribus.
          </p>
        </div>
      </div>
      <!--//.card-->

      <div class="card card-product col-xs-12 col-sm-4">
        <button class="accordion-btn h3">Van</button>
        <div class="accordion-panel">
          <div class="form-group">
            <button
              class="btn btn-price btn--block"
              type="submit"
              data-href="other.html"
            >
              Europe Annual <span>from £42.99</span>
            </button>
          </div>
          <!--//.form-group-->

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe accusantium eos laudantium nisi velit quia amet,
          </p>
          <p>numquam et distinctio obcaecati voluptates repellendus tempora recusandae culpa harum, rerum voluptatum delectus nulla.</p>
        </div>
      </div>
      <!--//.card-->
    </div>

  </div><!--//.inner-->
