<nav class="navbar ">
  {# <div class="container-fluid"> #}
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
        <img class="logo" src="/images/logo.png" class="img-fluid logo" alt="Insurance 4 Car Hire">
    </a>

    <button class="currency-mobile" type="button" id="js-currency-toggle" >£</button>
    <button type="button" class="navbar-toggle" id="js-navbar-toggle" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!--//.navbar-header-->

  <div id="navbar-currency" class="navbar-collapse collapse">
      <div class="currency">
        <p>Currency:</p>
        <ul>
          <li><a href="?curID=1" title="GBP" class="currencyuk selCurrency">£</a></li>
          <li><a href="?curID=2" title="EUR" class="currencyeuro">€</a></li>
          {# <li><a href="?curID=3" title="USD" class="currencyusa">$</a></li> #}
        </ul>
    </div><!--//.currency-->
  </div>

  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav" id="js-menu">
      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Car Hire Excess Insurance
          <span class="caret"></span>
        </a>



        <ul class="dropdown-menu">
          <li>
            <a href="/products/single-trip-worldwide-car-hire-excess-insurance/">Single Trip Worldwide Car Hire Excess
              Insurance</a>
          </li>
          <li>
            <a href="/products/annual-worldwide-car-hire-excess-insurance/">Annual Worldwide Car Hire Excess
              Insurance</a>
          </li>
          <li>
            <a href="/products/annual-europe-car-hire-excess-insurance/">Annual Europe Car Hire Excess Insurance</a>
          </li>
          <li>
            <a href="/products/annual-worldwide-car-hire-excess-insurance-plus-cdw-sli/">Annual Worldwide Car Hire
              Excess Insurance Plus CDW &amp; SLI</a>
          </li>
        </ul>
      </li>
      <li><a href="/products/daily-van-hire-excess-insurance/">Van Hire Excess Insurance</a></li>
      <li><a href="/claims/" target="? " _blank"="" :="" null;"="">Claims</a></li>
      <li><a href="/blog/insurance-guides/" target="? " _blank"="" :="" null;"="">Blog</a></li>
      <li><a href="/contact-us/" target="? " _blank"="" :="" null;"="">Contact</a></li>
      <li>
        <a href="https://secure.insurance4carhire.com/Existing_Customers.asp?pageID=2&amp;subrefID=0&amp;curID=1&amp;langID=1&amp;refID=100&amp;_ga=2.156739251.920462327.1556710972-872828465.1554279883"
          target="? " _blank"="" :="" null;"="">Account</a>
      </li>

    </ul>
  </div>
  <!--//.nav-collapse -->
  {# <div class="currency">
         <p>Currency:</p>
         <ul>
             <li><a href="?curID=1" title="GBP" class="currencyuk">£</a></li>
             <li><a href="?curID=2" title="EUR" class="currencyeuro">€</a></li>
         </ul>
     </div> #}

  {# </div> #}
  <!--//.container-fluid -->
</nav>