  <div class="articles">
    <div class="card card-article">
      <img
        class="card-img-top img-responsive"
        data-src="article-img-sample-1.jpg"
        alt="286%x180"
        src="./images/article-img-sample-1.jpg"
        data-holder-rendered="true"
      />
      <h3 class="card-title">Card title</h3>
      <div class="card-body">
        <p class="card-text line-clamp">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="">View article</a>
      </div>
    </div>
    <!--//.card-->

    <div class="card card-article">
      <img
        class="card-img-top img-responsive"
        data-src="./images/article-img-sample-2.jpg"
        alt="286%x180"
        src="./images/article-img-sample-2.jpg"
        data-holder-rendered="true"
      />
      <h3 class="card-title">Card title</h3>
      <div class="card-body">
        <p class="card-text line-clamp">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="">View article</a>
      </div>
    </div>
    <!--//.card-->

    <div class="card card-article bdr-dark-grey">
      <img
        class="card-img-top img-responsive"
        data-src="./images/article-img-sample-3.jpg"
        alt="286%x180"
        src="./images/article-img-sample-3.jpg"
        data-holder-rendered="true"
      />
      <h3 class="card-title">Card title</h3>
      <div class="card-body">
        <p class="card-text line-clamp">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus atque asperiores laudantium nesciunt facilis. Libero eius vitae porro incidunt laboriosam quisquam dolorum, iste deserunt culpa voluptas molestiae neque, facere quia?</p>
        <a href="#" class="">View article</a>
        <span class="card-published">2 hrs ago</span>
      </div>
    </div>
    <!--//.card-->
  </div><!--.articles-->

