<div class="info-box-container">
  <div class="info-box">
    <h2>How does Excess Insurance work?</h2>
    <ul class="info-steps">
      <li class="info-step-item"><div class="info-step-block"><p>1.</p><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></div? </li>
        <li class="info-step-item"><div class="info-step-block"><p>2.</p><p>sit amet consectetur adipisicing elit.</p></div> </li>
      <li class="info-step-item"><div class="info-step-block"><p>3.</p><p>Id tenetur quibusdam blanditiis eius aliquam dolorem eaque dicta</p></div></li>
    </ul>
    <a href="#excess"
    class="btn btn-info btn--block"
    >
    More Information
    </a>
  </div>
</div>