{% block header %} 
{% import './macros/header.njk' as header %}
{{ header.styles( "/css/styles.css" ) }}
{% endblock %}

<div class="container">

</div><!--//.container-->

{% block corejavascript %} 
{% include './partials/core-javascript.njk' %} 
{% endblock %} 

{% block footer %}
{% include './partials/footer.njk' %} 
{% endblock %}
