/**
  * @desc basic tag styles (HTML elements)
  *       e.g.: sub and sup should be the same everywhere
  * @author Neil Symester neil.symester@towergate.co.uk
  */

body {
  // background-color: $superLightGrey;
  background-color: $white;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: $base-fontSize;
}

a {
  color: $darkCyan;
  text-decoration: none;
  background-color: transparent;
}

img,
svg,
video,
audio {
  max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Oswald, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 32px;
  color: $mainTextColour;
}

h2,
.h2 {
  font-size: 28px;
  color: $mainTextColour;
}

h3,
.h3 {
  font-size: 25px;
  color: $mainTextColour;
}

h4,
.h4 {
  font-size: 21px;
  color: $mainTextColour;
}

label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
}

/* -------------------------------------------------------------------------
 Standard List
---------------------------------------------------------------------------- */
/**
 * Standard List styles for home page.
 */

.std-list,
.tick-list,
.cross-list {
  padding-left: 0;

  li {
    list-style: none;
    margin: 0 0 30px 15px;

    &:before {
      content: '\25CF';
      color: $vividCyan;
      position: relative;
      top: 0px;
      left: -5px;
      padding: 0;
      margin-left: -10px;
    }
  }

  &--alt {
    padding-left: 20px;
  }
}

.tick-list,
.cross-list {
  padding-left: 20px;
  padding-top: 10px;
  border-bottom: 1px solid $darkGrey;

  &:last-child {
    border-bottom: none;
  }

  li {
    margin: 0 0px 30px 0px;
    position: relative;
    padding-left: 25px;

    &:before {
      content: url(../images/check.png);
      margin-right: 15px;
      position: absolute;
    }
  }
}

.cross-list {
  li {
    &:before {
      content: url(../images/cross.png);
      top: 5px;
    }
  }
}
