/**
  * @desc basic tag styles (HTML elements)
  *       e.g.: sub and sup should be the same everywhere
  * @author Neil Symester neil.symester@towergate.co.uk
  */

* {
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // background-color: $superLightGrey;
  background-color: $white;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;
  font-weight: 300;
  line-height: 24px;
  font-size: $mobile-fontSize;

  @media (min-width: 1199px) {
    line-height: 25px;
    font-size: $base-fontSize;
  }
}

a {
  color: $darkCyan;
  text-decoration: underline;
  background-color: transparent;
  line-height: 24px;
  font-size: $mobile-fontSize;

  @media (min-width: 1199px) {
    line-height: 20px;
    font-size: $base-fontSize;
  }
}


p {
  &.sub-title {
    font-size: 20px;
  }
}

img,
svg,
video,
audio {
  max-width: 100%;
}

img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Oswald, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 40px;
  color: $mainTextColour;
  line-height: 50px;

  @media (min-width: 1199px) {
    line-height: 50px;
    font-size: 44px;
  }
}

h2,
.h2 {
  font-size: 36px;
  line-height: 50px;
  color: $mainTextColour;

  @media (min-width: 1199px) {
    font-size: 32px;
    line-height: 32px;
  }
}

h3,
.h3 {
  font-size: 30px;
  line-height: 35px;
  color: $mainTextColour;

  @media (min-width: 1199px) {
    font-size: 25px;
    line-height: 25px;
  }
}

h4,
.h4 {
  font-size: 21px;
  color: $mainTextColour;
}

label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: $mobile-fontSize;
  font-weight: normal;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.sub-title {
  color: $darkCyan;
  font-family: Oswald;
}

/* -------------------------------------------------------------------------
 Standard List
---------------------------------------------------------------------------- */

/**
 * Standard List styles for home page.
 */

.std-list,
.ordered-list,
.tick-list,
.cross-list {
  padding-left: 15px;

  li {
    list-style: none;
    margin: 0 0 15px 15px;

    &:before {
      content: '\25CF';
      color: $vividCyan;
      position: relative;
      top: 0;
      left: -5px;
      padding: 0 3px 0 0;
      margin-left: -15px;
      position: relative;
      top: -1px;
      left: -6px;
    }
  }

  &--alt {
    padding-left: 20px;
  }
}

.ordered-list {
  list-style: none;
  counter-reset: li;
  padding-left: 15px;

  li {
    &::before {
      content: counter(li);
      counter-increment: li;
      color: $vividCyan;
      display: inline-block;
      padding-right: 3px;
      font-weight: bold;
      font-size: $mobile-fontSize;
      margin-left: -15px;
      position: relative;
      top: 1px;
      left: -6px;
    }
  }
}

.number-in-circle {
  padding: 0;
  margin-bottom: 4em;

  li {
    &:before {
      background: $vividCyan;
      color: white;
      border-radius: 50%;
      padding: 5px 10px;
    }
  }
}

.tick-list,
.cross-list {
  padding-left: 20px;
  padding-top: 10px;
  border-bottom: 1px solid $darkGrey;

  &:last-child {
    border-bottom: none;
  }

  li {
    margin: 0 0 30px 0;
    position: relative;
    padding-left: 25px;

    &:before {
      content: url(../images/check.png);
      margin-right: 15px;
      position: absolute;
    }
  }
}

.tick-list.blue-tick {
  li {
    &:before {
      content: url(../images/check-blue.png);
    }
  }
}

.cross-list {
  li {
    &:before {
      content: url(../images/cross.png);
      top: 5px;
    }
  }
}

/* info steps */
.steps-list {
  padding-left: 25px;
  list-style: none;
  counter-reset: li;

  /* the stem */
  li {
    border: none;
    border-left: 3px solid $darkCyan;
    box-sizing: border-box;
    border-radius: 0;
    content: '';
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-top: 0;
    line-height: 24px;
  }

  // active step
  li.active {
    background-color: transparent;
    color: inherit;
  }

  /* remove stem from the end */
  li:last-child {
    border-left: 3px solid transparent;
    padding-bottom: 0;
  }

  /* the circle */
  li::before {
    border-radius: 50%;
    background-color: $vividCyan;
    color: black;
    content: counter(li);
    counter-increment: li;
    color: $white;
    border: 3px solid $darkCyan;
    display: block;
    float: left;
    height: 30px;
    margin-left: -37px;
    text-align: center;
    width: 30px;
  }

  .info-step-block {
    display: flex;

    :first-child {
      font-weight: bold;
      font-size: 24px;
      font-family: Oswald;
    }
  }

  p {
    display: inline-block;
    margin-top: 0;
    padding-left: 10px;
    color: $veryDarkCyan;
  }
}

/* Start with fallback for browsers that don't support -webkit-line-clamp */
.line-clamp {
  position: relative;
  height: 3.6em;
  overflow: hidden;
}

.line-clamp:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 80%
  );
}

/* Now add in code for the browsers that support -webkit-line-clamp and overwrite the non-supportive stuff */
@supports (-webkit-line-clamp: 3) {
  .line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .line-clamp:after {
    display: none;
  }
}
