/**
  * @desc layout and positioning styles,
          includes layout and positioning styles,
          contains business logic
  * @author Neil Symester neil.symester@towergate.co.uk
  */

// @media (min-width: 992px) {
//   .container {
//     width: 970px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     width: 750px;
//   }
// }

/* -------------------------------------------------------------------------
 Section layout styles
---------------------------------------------------------------------------- */

/**
 * Homepage
 */

.hero .container {
  display: -ms-flexbox;
  -ms-flex-flow: column wrap;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    'tc tc tc tc tc tc tc tc tc tc tc tc'
    'ibc ibc ibc ibc ibc ibc ibc ibc ibc ibc ibc ibc';
  justify-content: center;
  margin: 0 auto;

  @media (min-width: 991px) {
    /* IE11 hack */
    -ms-flex-flow: row nowrap;

    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 'tc tc tc tc tc tc ibc ibc ibc ibc ibc ibc';
    background-size: cover;
    height: 100%;
    justify-content: space-around;
  }
  padding: 50px 0 50px 0;

  .tab-container {
    grid-area: tc;
    margin: 0 auto;
  }

  .info-box-container {
    grid-area: ibc;
    margin: 0 auto;
  }
}

.excess {
  /* IE11 hack */
  display: block;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    'ec ec ec ec ec ec ec ec ec ec ec ec'
    'eib eib eib eib eib eib eib eib eib eib eib eib';
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;

  @media (min-width: 991px) {
    /* IE11 hack */
    display: -ms-flexbox;
    -ms-flex-flow: row nowrap;

    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 'ei ei ei ei ei ei ec ec ec ec ec ec';
    align-items: flex-start;
    justify-content: center;
  }

  .excess-image-top {
    /* IE hack */
    -ms-flex: 0 1 650px;

    grid-area: ei;
    margin: 0 auto;
  }

  .excess-content {
    /* IE hack */
    -ms-flex: 0 1 350px;
    @media (min-width: 991px) {
      -ms-flex: 1;

      p {
        line-height: 25px
      }

      ol {
        line-height: 25px
      }
    }

    grid-area: ec;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    padding: 0 25px 0 60px;
  }

  .excess-image-bottom {
    grid-area: eib;
    margin: 20px auto 0;

    @media (min-width: 991px) {
      -ms-flex: 1;
      margin: 20px auto 0;

    }
  }
}

.cover {
  /* IE11 hack */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-flow: column nowrap;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'cc cc cc cc cc cc cc cc cc cc cc cc';

  @media (min-width: 991px) {
    /* IE11 hack */
    -ms-flex-flow: row nowrap;

    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 'cc cc cc cc cc cc ci ci ci ci ci ci';
    align-items: flex-start;
    justify-content: center;
  }

  .cover-content {
    /* IE hack */
    -ms-flex: 1 1 auto;
    @media (min-width: 991px) {
      -ms-flex: 1;
    }

    grid-area: cc;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 0 40px;
  }

  .cover-image {
    /* IE hack */
    -ms-flex-flow: 1;

    grid-area: ci;
    margin: 0 0 0 auto;
  }
}

.drive {
  margin: 0 auto 60px;

  .card-products {
    /* IE11 hack */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-flow: column nowrap;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'cp1 cp1 cp1 cp1 cp1 cp1 cp1 cp1 cp1 cp1 cp1 cp1'
      'cp2 cp2 cp2 cp2 cp2 cp2 cp2 cp2 cp2 cp2 cp2 cp2'
      'cp3 cp3 cp3 cp3 cp3 cp3 cp3 cp3 cp3 cp3 cp3 cp3';
    padding: 30px;

    @media (min-width: 991px) {
      /* IE11 hack */
      -ms-flex-flow: row nowrap;

      grid-template-columns: repeat(12, auto);
      grid-template-rows: auto;
      grid-template-areas: 'cp1 cp1 cp1 cp1 cp2 cp2 cp2 cp2 cp3 cp3 cp3 cp3';
      padding: 0;
      justify-content: space-around;
      // align-items: center;
    }

    .card-product {
      /*IE11 hack*/
      -mf-flex: 1 1 auto;
      @media (min-width: 991px) {
        -mf-flex: 0 1 310px;
      }

      width: 100%;
      margin: 0 auto 20px;

      @media (min-width: 991px) {
        margin: 0 auto;
      }

    }

    .card-product:nth-child(1) {
      grid-area: cp1;
    }

    .card-product:nth-child(2) {
      grid-area: cp2;
    }

    .card-product:nth-child(3) {
      grid-area: cp3;
    }
  }
}

.product-hero,
.blog-hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;

  @media (min-width: 1199px) {
    justify-content: space-around;
    margin-bottom: 70px;
  }

  .inner {
    flex: 1;
  }

  .inner:first-child {
    flex: 0;
    max-width: 670px;
    width: 100%;

    @media (min-width: 1199px) {
      flex: 1 1 100%;
    }
  }

  .inner:last-child {
    margin: 30px 10px;

    @media (min-width: 1199px) {
      margin-left: 80px;
      margin-right: 0;
    }
  }
}

.cover-options {
  margin-bottom: 80px;
}

.faq-answers {
  margin: 0px -5px 60px -15px;
  border: 0;
  padding: 15px;

  @media (min-width: 1199px) {
    border: 1px solid $midGrey;
    border-radius: 0 5px 5px;
  }
}

.faq-answers-product {
    display: none;
    margin: 0 0 60px 0;

    h3 {
        border-bottom: 1px solid $midGrey;
        padding-bottom: 20px;
    }
}

.generic {
    margin-bottom: 80px;
    margin-top: 0;
    padding: 15px;

    @media (min-width: 1199px) {
        margin-top: 30px;
    }
}

section.article-header {
  @media (min-width: 1199px) {
    background-color: $white;

    h1 {
      color: $mainTextColour;
    }
  }
}

.articles {
  display: -ms-flexbox;
  -ms-flex-flow: column nowrap;
  @media (min-width: 991px) {
    -ms-flex-flow: row nowrap;
  }

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1'
    'a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2'
    'a3 a3 a3 a3 a3 a3 a3 a3 a3 a3 a3 a3';
  justify-content: center;
  // margin-bottom: 80px;
  margin-bottom: 0;
  padding: 20px 20px;

  @media (min-width: 991px) {
    grid-template-columns: repeat(12, minmax(90px, auto));
    grid-template-rows: auto;
    grid-template-areas: 'a1 a1 a1 a1 a2 a2 a2 a2 a3 a3 a3 a3';
  }

  .card-article {
    max-width: 306px;
    width: 100%;
    margin: 0 auto 20px;

    @media (min-width: 991px) {
      margin: 0 auto;
    }
  }

  .card-article {
    &:nth-of-type(1) {
      grid-area: a1;
    }

    &:nth-of-type(2) {
      grid-area: a2;
    }

    &:nth-of-type(3) {
      grid-area: a3;
    }
  }
}
/**
 * Common sections
 */

.trust-content {
  display: -ms-flexbox;
  -ms-flex-flow: column nowrap;
  @media (min-width: 991px) {
    -ms-flex-flow: row nowrap;
  }

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    't1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1'
    't2 t2 t2 t2 t2 t2 t2 t2 t2 t2 t2 t2'
    't3 t3 t3 t3 t3 t3 t3 t3 t3 t3 t3 t3'
    't4 t4 t4 t4 t4 t4 t4 t4 t4 t4 t4 t4';
  justify-content: center;
  // margin-bottom: 80px;
  margin-bottom: 0;
  padding: 20px 20px;

  @media (min-width: 991px) {
    grid-template-columns: repeat(12, auto);
    grid-template-rows: auto;
    grid-template-areas: 't1 t1 t1 t2 t2 t2 t3 t3 t3 t4 t4 t4 t4';
  }

  .card-info {
    max-width: 306px;
    width: 100%;
    margin: 0 auto;
  }

  .card-info {
    &:nth-of-type(1) {
      grid-area: t1;
    }

    &:nth-of-type(2) {
      grid-area: t2;
    }

    &:nth-of-type(3) {
      grid-area: t3;
    }

    &:nth-of-type(4) {
      grid-area: t4;
    }
  }
  margin-bottom: 0;
}

footer .container {
  display: -ms-flexbox;
  -ms-flex-flow: column nowrap;

  @media (min-width: 1199px) {
    -ms-flex-flow: row nowrap;
    -ms-flex-pack: space-around;
  }
  // align-items: baseline;
  // justify-content: space-around;
  // align-items: stretch;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    'fl1 fl1 fl1 fl1 fl1 fl1 fl1 fl1 fl1 fl1 fl1 fl1'
    'fl2 fl2 fl2 fl2 fl2 fl2 fl2 fl2 fl2 fl2 fl2 fl2'
    'fl3 fl3 fl3 fl3 fl3 fl3 fl3 fl3 fl3 fl3 fl3 fl3'
    'fl4 fl4 fl4 fl4 fl4 fl4 fl4 fl4 fl4 fl4 fl4 fl4'
    'si si si si si si si si si si si si'
    'fi fi fi fi fi fi fi fi fi fi fi fi';
  justify-content: center;
  // margin-bottom: 80px;
  margin-bottom: 0;
  padding: 50px 40px;

  @media (min-width: 1199px) {
    grid-template-columns: repeat(12, auto);
    grid-template-rows: auto auto;
    grid-template-areas:
      'fl1 fl1 fl2 fl2 fl3 fl3 fl4 fl4 si si si si'
      'fi fi fi fi fi fi fi fi fi fi fi fi';
  }

  .footer-list {
    max-width: 306px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 30px;
  }

  .footer-list {
    &:nth-of-type(1) {
      grid-area: fl1;
    }

    &:nth-of-type(2) {
      grid-area: fl2;
    }

    &:nth-of-type(3) {
      grid-area: fl3;
    }

    &:nth-of-type(4) {
      grid-area: fl4;
    }
  }

  .social-icons {
    grid-area: si;
    padding: 15px 30px;
  }

  .footer-info {
    grid-area: fi;
  }
}
