.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.custom-control-input.is-invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-tooltip,
.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip {
  display: block;
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.has-sub-title {
  margin-bottom: 0;
}

.text-black {
  color: black;
}

.question-icon {
  &:before {
    content: '?' !important;
    background-image: none;
    background-color: $vividCyan;
    font-weight: bold;
    font-size: 16px;
    color: white !important;
    border: 2px solid $vividCyan;
    border-radius: 50%;
    padding: 2px 19px;
    margin: 0px;
    width: 28px;
    height: 28px;
    text-align: center;
  }
}

.bg-grey {
  background-color: $midGrey;
}

// grid

.grid .row {
  // margin-bottom: 10px;

  [class^='col-'] {
    div {
      background-color: $lightGrayishBlue;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid white;
    }
  }
}

.down-arrow {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid $darkCyan;
  right: 10px;
  top: 20px;
}

.right-arrow {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid $darkCyan;
  right: 15px;
  top: 15px;
}

.dropdown-menu--block {
  width: 100%;
}

.open > .dropdown-toggle.btn-car {
  &:hover {
    color: $veryDarkCyan;
    background-color: white;
    border-color: transparent;
  }
}

.open > .dropdown-toggle.btn-car {
  color: $veryDarkCyan;
  background-color: white;
  border-color: transparent;
  background-image: none;
}

.bdr-dark-grey {
  border: 1px solid $darkGrey;
}

#product-options {
  .container-fluid {
    .container {
      padding-left: 0;
      padding-right: 0;

      @media (min-width: 749px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @media (min-width: 1199px) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .cover-options {
    .inner {
      @media (min-width: 1199px) {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
      }

      .info-box-container,
      .info-box-container .info-box {
        @media (min-width: 1199px) {
          margin-top: 0;
        }
      }

      .product-options-days-cover {
        max-width: 280px;
        width: 100%;
      }
    }

    .cover-options-container {
      @media (min-width: 1199px) {
        margin-right: 25px;
      }
    }

    .card-cover-option {
      padding: 35px 45px 25px;

      &:hover {
        border: 3px solid #01dbab;
        padding: 32px 42px 22px !important;
      }

      .card-icons {
        display: none;

        img {
          width: 30px;
          height: 30px;
        }
      }

      &.active {
        padding: 32px 42px 22px !important;

        .card-icons {
          display: block;
        }
      }

      .inner {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .product-hero {
    display: block;
    margin: 30px auto 0;

    @media (min-width: 1199px) {
      background-color: $darkCyan;
      margin: 0 -15px;
    }

    .inner {
      margin: 0 auto;
      min-width: 100%;
      width: 100%;

      @media (min-width: 1199px) {
        padding: 70px;
        // display:flex;
        // flex-flow:row nowrap;
        // align-items:flex-start;
      }
    }

    h1 {
      margin-bottom: 20px;
    }

    h1,
    p {
      text-align: left;

      @media (min-width: 1199px) {
        text-align: center;
        color: $white;
      }
    }
  }

  h2,
  h3 {
    margin-bottom: 40px;
  }

  h4 {
    margin-bottom: 25px;
  }

  .info-box-container {
    width: 435px;
    min-width: 360px;
    margin: 55px auto 40px;
  }
}

.docs {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.docpdf {
  display: inline-block;
  width: 8em;
  vertical-align: top;
  position: relative;
  padding-top: 4em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &:before {
    content: '';
    background: url(/images/pdf-icon.jpg) no-repeat center center;
    position: absolute;
    top: 1em;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    background-size: contain;
  }

  .doc-name {
    text-align: center;
  }

  .docsize {
    color: #999;
    font-size: 75%;
    margin-bottom: 1em;
    line-height: 2em;
    text-transform: uppercase;
  }
}

.blog-header {
  display: block;
  margin: 30px auto 0;

  @media (min-width: 1199px) {
    background-color: $darkCyan;
    margin: 0 -15px;
  }

  .inner {
    margin: 0 auto;
    min-width: 100%;
    width: 100%;

    @media (min-width: 1199px) {
      padding: 70px;
      // display:flex;
      // flex-flow:row nowrap;
      // align-items:flex-start;
    }
  }

  h1 {
    margin-bottom: 20px;
  }

  h1,
  p {
    text-align: left;

    @media (min-width: 1199px) {
      text-align: center;
      color: $white;
    }
  }
}
