.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.custom-control-input.is-invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-tooltip,
.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip {
  display: block;
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.has-sub-title {
  margin-bottom: 0;
}

.text-black {
  color: black;
}

.question-icon {
  &:before {
    content: '?' !important;
    background-image: none;
    background-color: $vividCyan;
    font-weight: bold;
    font-size: 16px;
    color: white !important;
    border: 2px solid $vividCyan;
    border-radius: 50%;
    padding: 2px 19px;
    margin: 0px;
    width: 28px;
    height: 28px;
    text-align: center;
  }
}

.bg-grey {
  background-color: $midGrey;
}

// grid

.grid .row {
  // margin-bottom: 10px;

  [class^='col-'] {
    div {
      background-color: $lightGrayishBlue;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid white;
    }
  }
}

.down-arrow {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid $darkCyan;
  right: 10px;
  top: 20px;
}

.right-arrow {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid $darkCyan;
  right: 15px;
  top: 15px;
}

.dropdown-menu--block {
  width: 100%;
}

.open > .dropdown-toggle.btn-car {
  &:hover {
    color: $veryDarkCyan;
    background-color: white;
    border-color: transparent;
  }
}

.open > .dropdown-toggle.btn-car {
  color: $veryDarkCyan;
  background-color: white;
  border-color: transparent;
  background-image: none;
}

.bdr-dark-grey {
  border: 1px solid $darkGrey;
}
