/**
  * @desc settings include global variables
  * @author Neil Symester neil.symester@towergate.co.uk
  */

$base-font: Lato;

$base-fontSize: 16px;

$veryDarkCyan: #023742;
$vividCyan: #01dbab;
$darkCyan: #01866b;
$veryDarkGrayishBlue: #585f69;
$lightGrayishBlue: #e7e8ed;
$vividRed: #e33101;
$brightRed: #e94840;

$mainTextColour: rgb(59, 66, 77); // #3B424D;
$midGrey: rgb(231, 232, 237); // #E7E8ED;
$white: rgb(255, 255, 255); // #fff;
$ctaWhite: rgb(255, 255, 255); // #fff;
$ctaRed: rgb(224, 51, 21); // #E03315;
$lightText: rgb(89, 96, 106); // #59606A
$superLightGrey: rgb(248, 248, 250); // #f8f8fa;
$darkGrey: rgb(183, 183, 183); // #B7B7B7
$darkGreen: rgb(5, 55, 64); // #053740
$lightGreen: rgb(24, 217, 172); // #18D9AC
$mainGreen: rgb(15, 133, 106); // #0F856A
$ctaHover: rgb(239, 153, 138); // #EF998A

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
