{% macro styles(href='') %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,900|Oswald:400,700"
      rel="stylesheet"
    />

    <title>Insurance 4 Car Hire</title>

    {% block ie8support %}
    {% include '../partials/ie8-support-html.njk' %}
    {% endblock %}

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <!-- Custom -->
    <link href="{{ href }}" rel="stylesheet" type="text/css"/>

  </head>
<body role="document">

{% endmacro %}