<h3>Country Scroller</h3>
<div class="form-group">
  <div class="country-scroller">
    <button class="country-scroller__up"></button>
    <ul class="country-scroller__items">
      <li class="country-scroller__item">Afghanistan</li>
      <li class="country-scroller__item">Albania</li>
      <li class="country-scroller__item">Algeria</li>
      <li class="country-scroller__item">Andorra</li>
      <li class="country-scroller__item">Angola</li>
      <li class="country-scroller__item">Antigua and Barbuda</li>
      <li class="country-scroller__item">Argentina</li>
      <li class="country-scroller__item">Armenia</li>
      <li class="country-scroller__item">Austria</li>
      <li class="country-scroller__item">Azerbaijan</li>
    </ul>
    <button class="country-scroller__down"></button>
  </div>
  <!--//.country-scroller-->
</div>
<!--//.form-group-->
