<form>
  <fieldset>
    <legend>Buttons</legend>
    <div class="form-group">
      <button
        class="btn btn-cta btn--block"
        type="submit"
        data-href="other.html"
      >
        View Cover Options
      </button>
    </div>

    <div class="form-group">
      <button
        class="btn btn-cta--disabled btn--block"
        type="submit"
        data-href="other.html"
        disabled
      >
        View Cover Options
      </button>
    </div>
    <div class="form-group" style="background-color:#023742;padding:10px">
      <button
        class="btn btn-info btn--block"
        type="submit"
        data-href="other.html"
      >
        More Information
      </button>
    </div>
    <div class="form-group">
      <button
        class="btn btn-price btn--block"
        type="submit"
        data-href="other.html"
      >
        Europe Annual <span>from £42.99</span>
      </button>
    </div>
    <div class="form-group">
      <button
        class="btn btn-default btn--block"
        type="submit"
        data-href="other.html"
      >
        More Articles</span>
      </button>
    </div>

    <div class="form-group">
      <button class="btn btn-default btn-van">Van <span class="right-arrow"></span></button>
    </div>

    <div class="form-group">
      <div class="price-and-btn">
        <p class="price">£99.99</p>
        <button class="btn btn-cta btn--block">
          Buy Now
        </button>
      </div>
    </div>

    <button class="help-tip" style="position:static;">
      <span>Help</span>
    </button>
  </fieldset>
</form>
