<h3>Standard list</h3>
<ul class="std-list">
  <li>Drivers between the ages of 18 and 85</li>
  <li>Drivers who are residents of*:France, Germany, Ireland,</li>
  <li>Trips up to 60 days in-a-row</li>
  <li>As well as excess cover, we also offer Collision Damage Waive</li>
</ul>

<h3>Standard Ordered list</h3>
<ol class="ordered-list">
  <li>Drivers between the ages of 18 and 85</li>
  <li>Drivers who are residents of*:France, Germany, Ireland,</li>
  <li>Trips up to 60 days in-a-row</li>
  <li>As well as excess cover, we also offer Collision Damage Waive</li>
</ol>

<h3>Tick list</h3>
<ul class="tick-list">
  <li>Drivers between the ages of 18 and 85</li>
  <li>Drivers who are residents of*:France, Germany, Ireland,</li>
  <li>Trips up to 60 days in-a-row</li>
  <li>As well as excess cover, we also offer Collision Damage Waive</li>
</ul>

<h3>Cross list</h3>
<ul class="cross-list">
  <li>Drivers between the ages of 18 and 85</li>
  <li>Drivers who are residents of*:France, Germany, Ireland,</li>
  <li>Trips up to 60 days in-a-row</li>
  <li>As well as excess cover, we also offer Collision Damage Waive</li>
</ul>

<h3>Blue Tick list</h3>
<ul class="tick-list blue-tick">
  <li>Drivers between the ages of 18 and 85</li>
  <li>Drivers who are residents of*:France, Germany, Ireland,</li>
  <li>Trips up to 60 days in-a-row</li>
  <li>As well as excess cover, we also offer Collision Damage Waive</li>
</ul>

<h3>Number in Circle list</h3>
<ol class="ordered-list number-in-circle">
  <li>Drivers between the ages of 18 and 85</li>
  <li>Drivers who are residents of*:France, Germany, Ireland,</li>
  <li>Trips up to 60 days in-a-row</li>
  <li>As well as excess cover, we also offer Collision Damage Waive</li>
</ol>

<ol class="steps-list">
  <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
  <li>sit amet consectetur adipisicing elit.</li>
  <li>Id tenetur quibusdam blanditiis eius aliquam dolorem eaque dicta</li>
</ol>
