<h3>Hero Image</h3>
<img src="http://placehold.it/1370x625" alt="Hero Image size" />

<h3>Section Image</h3>
<img src="http://placehold.it/690x740" alt="Section Image size" />

<h3>Smaller Section Image</h3>
<img src="http://placehold.it/375x200" alt="Samller Section Image size" />

<h3>Card Image</h3>
<img src="http://placehold.it/286x180" alt="Card image size" />

<h3>Icons</h3>
<div style="display:flex;justify-content: space-around;align-items:baseline;">
  <img src="./images/help-icon.png" alt="Help icon" />
  <img src="./images/payment-icon.png" alt="Payment icon" />
  <img src="./images/faqs-icon.png" alt="FAQs icon" />
  <img src="./images/security-icon.png" alt="Security icon" />
  <img src="./images/warning.png" alt="Warning icon" width="40" height="36" />
</div>

<h3>Linked Image</h3>
<a href="#"
  ><img
    src="./images/return-to-top-arrow.png"
    alt="Return to top arrow"
    width="42"
    height="43"
/></a>

<h3>Picture</h3>
<picture>
  <source media="(min-width: 60em)" srcset="http://placehold.it/690x740" />
  <source media="(min-width: 40em)" srcset="http://placehold.it/375x200" />
  <source srcset="http://placehold.it/150x150" />
  <img src="http://placehold.it/150x150" alt="Default mobile image size" />
</picture>

<h3>Svg</h3>
<svg width="200px" height="200px">
  <circle cx="100" cy="100" r="100" fill="#ff0000" />
</svg>
