<div class="container">
  <div class="dropdown dropdown--car">
    <button
      class="btn btn-default dropdown-toggle btn-car"
      type="button"
      id="dropdownMenu1"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="true"
    >
      Car
      <span class="down-arrow"></span>
    </button>
    <ul
      class="dropdown-menu dropdown-menu--block"
      aria-labelledby="dropdownMenu1"
    >
      <li><a href="#">Europe Annual</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Worldwide Single Trip</a></li>
      <li><a href="#">Worldwide Annual</a></li>
      <li><a href="#">Annual Plus CDW & SLI</a></li>
    </ul>
  </div>

  <div class="dropdown dropdown--features-exclusions">
    <button
      class="btn btn-default dropdown-toggle btn-feat-excl"
      type="button"
      id="dropdownMenu1"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="true"
    >
      Features/Exclusions
      <span class="down-arrow"></span>
    </button>
    <ul
      class="dropdown-menu dropdown-menu--block"
      aria-labelledby="dropdownMenu1"
    >
      <li>Excess on damageand theft up to £6,500 per year</li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Worldwide Single Trip</a></li>
      <li><a href="#">Worldwide Annual</a></li>
      <li><a href="#">Annual Plus CDW & SLI</a></li>
    </ul>
  </div>
</div>
