<div class="container">
  <div class="card card-info">
    <img
      class="card-img-top"
      alt="91x91"
      style="height: 91px; width: 91px; display: block;"
      src="../images/help-icon.png"
      data-holder-rendered="true"
    />
    <h3 class="card-title">Help</h3>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <!--//.card-->
</div>
